[2017-02-08 04:31] caleblloyd commented on #193
Ah, 2 queries here is correct. It's how EF is designed by Microsoft.

For ORMs in general, combining everything into a single big query is tough (overlapping column names, repeated rows in HasMany queries) and is not necessarily faster.

[2017-02-08 04:40] pkiers commented on #193
Then this can be closed, sorry for the inconvenience.

[2017-02-08 04:40] #193 closed

[2017-02-08 16:50] dotWasim opened #194 "Syntax error when I try to call stored procedure"
I receive this error when I try to execute stored procedure

**Controller Code**
[code]

**project.json**
[code]

[2017-02-08 18:47] mguinness commented on #194
You're missing CALL, see [Working with Stored Procedures](https://dev.mysql.com/doc/connector-net/en/connector-net-tutorials-stored-procedures.html).

[2017-02-08 21:02] caleblloyd commented on #194
I'd recommend working with Stored Procedure at the Database Driver level, not Entity Framework level.

Here's the reference for MySqlConnector: https://mysql-net.github.io/MySqlConnector/

We don't have documentation on Stored Procedures yet, but the [test cases](https://github.com/mysql-net/MySqlConnector/blob/master/tests/SideBySide.New/StoredProcedureTests.cs) have good examples.

[2017-02-08 21:02] #194 closed

[2017-02-08 21:24] mguinness commented on #194
@caleblloyd It should be no problem to use stored procs from EF, with ExecuteSqlCommand for no resultset and FromSql if the resultset matches your model.  For more complicated use cases, then ADO.NET would be your best bet.

[2017-02-08 21:37] caleblloyd commented on #194
Correct, it will work.  But it will be executed as `CommandType.Text`

MySqlConnector does a lot of Stored Procedure specific stuff when using `CommandType.StoredProcedure`.  It has procedure caching, automatically assigns parameter direction, and converts return parameters to the proper type.  I'd recommend working with all Stored Procedures using ADO.NET for that reason.

[2017-02-08 22:01] dotWasim commented on #194
@mguinness it matches the model, but I don't know what's the problem!

@caleblloyd I already have old DB and stored procedures, but I was planing to use EF to add unavailable queries. I have never used MySqlConnector, so I check it

[2017-02-08 22:14] mguinness commented on #194
@dotWasim Have you tried pre-pending CALL?  Also look at your query logs to see what is being executed, the parser is giving a syntax error.

[2017-02-20 08:00] huww98 opened #195 "Incorrect migration generated SQL when the value of MaxLength is large"
### Steps to reproduce
1. `dotnet new` to create new project.
2. create `NuGet.config` and replace `project.json` with
[code]
3. Replace `Program.cs` with:
[code]
4. run `dotnet restore`
5. run `dotnet ef migrations add Init`
6. run `dotnet ef migrations script`

### The issue
The generated SQL for creating table "Blogs" is
[code]
The data type of `Content` column is  `varchar(127)`. I suppose it

[2017-02-20 08:04] Kagamine commented on #195
Good catch, I'll fix this later.

[2017-02-20 08:12] huww98 opened #196 "Incorrect migration generated SQL when changing data type to LONGTEXT"
### Steps to reproduce
1. same as #195
2. delete `[MaxLength(16777215)]` from `Program.cs`
3. run `dotnet ef migrations add RemoveMaxLength`
4. run `dotnet ef migrations script Init`

### The issue

The generated SQL is:
[code]
The 2nd line will cause an error `Error Code: 1101. BLOB, TEXT, GEOMETRY or JSON column 'Content' can't have a default value`

### Further technical details

MySQL version:

[2017-02-22 01:17] stephen-cernota opened #197 "DateTimeOffset Invalid Cast Exception - ASP.NET Core - Identity"
### Steps to reproduce
Enable lockout for user sign-in, attempt user-sign in with invalid password until you reach lockout limit

### The issue
After a user reaches lockout limit, the PasswordSignInAsync() function never works again for that user, an invalid cast exception occurs because of the LockoutEnd field

ASP.NET Core 1.1.0 and Pomelo.EntityFrameworkCore.MySql 1.1.0
[code]

From MySQL Workb

[2017-02-22 01:22] Kagamine commented on #197
Could you show me your project.json

[2017-02-22 01:28] stephen-cernota commented on #197
[project.json.txt](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/files/791986/project.json.txt)
Weird, Github would not let me upload .json file type, I added .txt extension

[2017-02-22 06:00] mguinness commented on #197
What is the data type of LockoutEnd in table AspNetUsers for your database?  It would be interesting to see what typeof(T) returns in [GetFieldValueAsync[T]](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/master/src/Pomelo.EntityFrameworkCore.MySql/Storage/SynchronizedMySqlDataReader.cs#L162-L177).

[2017-02-22 15:13] stephen-cernota commented on #197
From MySQL Workbench:
Column: LockoutEnd
Collation: latin1_swedish_ci
Definition: LockoutEnd varchar(255)

[2017-02-22 15:30] caleblloyd commented on #197
Did a migration create that column, or did that column already exist?

From the sounds of it, the column is in your database as a string but you are trying to access it using `DateTime` in which case the exception is correct because there is no implicit conversion from String to `DateTime`

[2017-02-22 15:39] stephen-cernota commented on #197
Hmmm, the project was initially created back in October/November,
the first Migration I have in Migrations folder is dated 11/28/2016

I see this in the first migration:
"LockoutEnd = table.Column<DateTimeOffset>(nullable: true),"
I could not find LockoutEnd keyword in any other migration

Inside the Up function of first migration:
[code]

[2017-02-22 15:39] JeffreySu commented on #181
mark

[2017-02-22 16:20] caleblloyd commented on #197
Nice, thanks for being an early adopter! :smile:

Data types were overhauled in this PR: https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/pull/76

Date time offsets were changed again here:
https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/issues/79

These both made it into 1.0.1.  I think that if you initially migrated on 1.0.0 it may have made a `string` in

[2017-02-22 16:25] stephen-cernota commented on #197
Thanks Caleb! Appreciate all the help!
I will migrate the column and report back results

[2017-02-22 17:04] stephen-cernota commented on #197
So I guess I could have deleted the table and reapplied migrations?
I instead just did an alter table
[code]
Tested lockout functionality, no more exceptions!
Closing issue. Thanks again!

[2017-02-22 17:04] #197 closed

[2017-02-22 21:34] Kagamine commented on #181
@JeffreySu To add Reset Connection=false, it will works fine.

[2017-02-23 03:40] Lissbrict opened #198 "The 'DbSet<>' uses 'join' and 'into', throws the exception"
### Steps to reproduce

my `dbcontext ` included tow entity `TestClass1` , `TestClass2`

- TestClass1
  - id(long)
- TestClass2
  - id(long)
  - Class1Id (long)
[code]

But call  `query.Count()` throw Exception

Exception:

[code]

### Further technical details

MySQL version: 5.6.23 (aws)
Operating system: win10 pro x64
Pomelo.EntityFrameworkCore.MySql version:1.1.1

- what is the problem?  thank

[2017-02-23 06:45] Lissbrict commented on #198
Calling `query.Any()` will have the same problem...

[2017-02-23 06:57] mguinness commented on #198
I believe there is a known issue with GroupJoin in EF Core, see https://github.com/aspnet/EntityFramework/issues/7497.

[2017-02-23 07:02] #198 closed

[2017-02-26 19:13] mne1991 opened #199 "'System.MissingMethodException' occurred in System.Private.CoreLib.ni with the latest prerelease"
I want to report about a bug in the latest prerelease:

I am working on a project (Visual Studio 2015 update 3) where I am using **Entity framework core** with MySQL. I am able to write to data to my database, but when trying to **query data** using `DbSet<T>.Find(...)` or `FirstOrDefault` I get this exception:

The solution:
OK it seems to be a bug in **MySQL -> entity framework adapter `MySql.Da

[2017-02-26 23:41] Kagamine commented on #199
Are you sure you are using the package Pomelo.EntityFrameworkCore.MySql? Mysql.Data.EntityFrameworkCore is not provided by us.

[2017-02-26 23:42] #199 closed

[2017-02-27 16:54] mclucario commented on #178
Any idea whats wrong?

[2017-02-28 21:41] YandyZaldivar commented on #126
I haven't read the full thread neither I have reviewed your socket usage/implementation but I have a recomendation.

For high performance networking you should'nt use any new awaitable async socket API since in .NET this is currently extra overhead on top of former sync calls. Yet, the way to go is async, but you must create a custom layer on top of the SocketAsyncEventArgs class for high performa

[2017-02-28 21:48] bgrainger commented on #126
@YandyZaldivar See [SocketAwaitable.cs](https://github.com/mysql-net/MySqlConnector/blob/master/src/MySqlConnector/SocketAwaitable.cs) in MySqlConnector (the underlying MySQL library).

[2017-02-28 22:08] YandyZaldivar commented on #126
Seems you are on the good path, +1. If combined with a good buffering implementation to minimize read calls and SocketAsyncEvenArgs reusing, everything should work fine.

[2017-02-28 23:06] NickThissen opened #200 "HasMaxLength does not affect generated migration code for classes that derive Identity"
### The issue

In the `OnModelCreating` method, the `HasMaxLength` call on the `ModelBuilder` seems to have no effect on the generated migrations if it is applied on a property that inherits an ASP.NET Identity Core class, such as IdentityUser or IdentityRole.

However, it seems to apply the length correctly when used directly on Identity classes that are not derived from, e.g. `IdentityUserLogin<

[2017-02-28 23:45] mguinness commented on #200
It's easy to test against another provider, try to see if you can repro using the following:

`Install-Package SapientGuardian.EntityFrameworkCore.MySql`

[2017-02-28 23:50] james7132 opened #201 "Migrations with ulong autoincrement primary keys generate signed long keys in DB"
### Steps to reproduce
1. Try the following code: https://github.com/james7132/Hourai/blob/master/src/Model/Temp.cs
2. Use any LINQ query to try to query for elements. Like here: https://github.com/james7132/Hourai/blob/master/src/Admin/TempService.cs
Full Code: https://github.com/james7132/Hourai
### The issue
Exception:
[code]

### Further technical details

MySQL version: mysql  Ver 15.1 Distri

[2017-03-01 00:05] james7132 commented on #201
Found the issue. Using a ulong autoincrement key generates a signed key via migrations, which results in a invalid cast when reading the data.

[2017-03-01 00:26] mguinness commented on #201
@james7132 Just to clarify, you mean migrations created column type as bigint instead of bigint unsigned?

[2017-03-01 00:49] james7132 commented on #201
Yes, precisely that.

[2017-03-01 06:54] NickThissen commented on #200
Probably should have mentioned this, but I have the same issue with SapientGuardian. That might point to it being my mistake but I dont see it. Could be just an oversight in both providers?

[2017-03-01 07:32] mguinness commented on #200
Try posting this issue at [ASP.NET Core Identity](https://github.com/aspnet/Identity)?

[2017-03-01 07:38] #200 closed

[2017-03-02 13:24] caleblloyd commented on #201
I'm able to reproduce, I'll look into a fix

[2017-03-03 06:09] wyy272176594 opened #203 "It cause a exception when i execute scaffolding commands."
It cause a exception when i execute scaffolding commands.

version:
 ......
 "Pomelo.EntityFrameworkCore.MySql": "1.1.1-prerelease-10018",
 "Pomelo.EntityFrameworkCore.MySql.Design": "1.1.1-prerelease-10018"
 ......

exception :
System.IO.EndOfStreamException: Attempted to read past the end of the stream.

db struct(sql):
SET FOREIGN_KEY_CHECKS=0;

-- ----------------------------
-- Table structur

[2017-03-03 06:29] wyy272176594 commented on #203
total exception message:

System.IO.EndOfStreamException: Attempted to read past the end of the stream.
   at System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
   at System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
   at System.Runtime.CompilerServices.TaskAwaiter`1.GetResult()
   at System.Threading.Tasks.ValueTask`1.get_Result()
   at My

[2017-03-03 12:09] HongyanShen opened #204 "It causes a exception when i select NewValue = a Datetime + a TimeSpan"
Thew code as follows:

[code]

**task.UseDate's type is DateTime,trip.StartTime's type is TimeSpan**

The version of Pomelo.EntityFrameworkCore.MySql:**1.1.0**

Exception Message:**Unable to cast object of type 'System.Decimal' to type 'System.DateTime'.**

The call stack: **at MySql.Data.MySqlClient.MySqlDataReader.GetDateTime(Int32 ordinal)
   at Microsoft.EntityFrameworkCore.Storage.Synchronize

[2017-03-03 12:23] caleblloyd commented on #204
Can you `SHOW CREATE TABLE` for all of the tables involved in your query.

Then turn logging for `Microsoft` to `Information` ([example](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/master/test/Pomelo.EntityFrameworkCore.MySql.PerfTests/appsettings.json#L7)) and post the generated queries here also.

[2017-03-03 17:08] mguinness commented on #203
@wyy272176594 In an effort to isolate which table is causing the problem, try the table option on [scaffold](https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dotnet#dotnet-ef-dbcontext-scaffold).

[2017-03-03 17:30] mguinness commented on #204
@HongyanShen An alternative to doing this calculation at the client, you can alternatively do this server side by using the DateAdd translator added in PR https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/pull/164.

If the timespan is being stored as a numeric value, say number of seconds since midnight, then instead of:

`task.UseDate + trip.StartTime`

Use DateAdd translator t

[2017-03-04 11:09] flipchart opened #205 "Optimistic concurrency"
With SQL Server, I can use the following mapping to get an optimistic concurrency column that is updated on every insert/update:

[code]

When I insert, the `Timestamp` value on my entity can be null and SQL Server will generate a value.

I don't have much experience in MySQL, but [people][1] [recommend][2] using the `TIMESTAMP` data type for this purpose. I've tried mapping this with a `byte[]` (

[2017-03-04 14:00] #201 closed

[2017-03-04 14:03] caleblloyd commented on #205
I'd recommend a MySQL type of `DATETIME(6)`, which is the default mapping for the CLR Type `DateTime` [example](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/master/test/Pomelo.EntityFrameworkCore.MySql.PerfTests/Models/GeneratedTypes.cs#L84-L85)

`ValueGeneratedOnAddOrUpdate` will work correctly with a `DateTime`

[2017-03-05 06:58] #205 closed

[2017-03-05 14:03] HongyanShen commented on #204
@caleblloyd Thanks to @mguinness ,i resolved this probem by using Datetime's **Add** method instead of operator + between Datetime and TimeSpan.Here is the details of my problem.
Linq expression:
[code]

Create table sql:
[code]

Sql query generated by the linq expression:
[code]

[2017-03-08 12:58] caleblloyd opened #207 "Update documentation for MSBuild"
Right now the README.md has `project.json` references

With the release of dotnet tooling 1.0.0, these need to be switched to `msbuild`

[2017-03-08 13:03] caleblloyd opened #208 "Release 1.1.1"
- [x] Switch to `msbuild` #206
- [x] Update Documentation #207
- [x] Get community feedback on [Pomelo.EntityFrameworkCore.MySql/1.1.1-prerelease-10020](https://www.nuget.org/packages/Pomelo.EntityFrameworkCore.MySql/1.1.1-prerelease-10020) and higher to ensure no regressions
- [x] Set a target release date.  Friday March 17th
- [x] Fix #195

[2017-03-08 13:25] Kagamine commented on #208
How about 17th？

[2017-03-08 13:29] caleblloyd commented on #208
Good idea - that's St Patrick's Day in the US.  I'll drink a green beer to celebrate!

[2017-03-08 13:32] Kagamine commented on #208
I will fix #195 before 17th.

[2017-03-09 01:01] #204 closed

[2017-03-09 10:44] stuartleeks commented on #68
@kroniak did you resolve this? I'm trying to run migrations against a MySQL instance in docker and getting the same exception that the __EFMigrationsHistory table doesn't exist

[2017-03-09 10:46] kroniak commented on #68
@stuartleeks no, I didnt. I have same exception in docker host.

[2017-03-10 11:47] jyotendra commented on #72
I was getting this error when I upgraded to Msbuild using VS 2017. Updating nuget for entityframework.tools solved my issue.

[2017-03-12 14:50] Nick-Lucas opened #210 "Revisit Datetime Type Mapping for older MySQL versions"
Please consider offering legacy support for MySQL 5.5, particularly in relation to `DateTime` and `DateTime(6)` as discussed in #145.

Many supported and widely used Linux distros (Ubuntu 14.04, Debian 8) still come with MySQL 5.5 in their repositories, which means that using Pomelo requires jumping through hoops to get up to a newer version.

This considered, the insistence on using `DateTime(6)`

[2017-03-12 15:37] caleblloyd commented on #210
I thought this was fixed when we introduced [MySqlScopedTypeMapper.cs](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/master/src/Pomelo.EntityFrameworkCore.MySql/Storage/Internal/MySqlScopedTypeMapper.cs)

Are you still hitting this with the latest `1.1.1-prerelease`?

[2017-03-12 15:56] caleblloyd commented on #68
I'm pretty sure this happens when you have created the database (e.g. `CREATE DATABSE db_name`) already.  If that's the case, you need to manually add the `__EFMigrationsHistory` table.

@Kagamine maybe we should add a check for the `__EFMigrationsHistory` table upon running migrations and add if it does not exist?

[2017-03-12 16:01] Nick-Lucas commented on #210
Oooh thanks, I didn't realise this was in the works!

So I've updated to the pre-release and now `.Database.EnsureDeleted` and `.Database.EnsureCreated` are both broken:

Both return this error:
[code]

My use case here is for some integration tests, and I don't use migrations for this, so run each command in turn (Delete then Create) to refresh the database for each test class.

I just went throu

[2017-03-12 16:06] Nick-Lucas commented on #210
More detail: If I create the database and JUST run `EnsureCreated` the test works fine, but then if I run `EnsureDeleted` I get the same error, even though I can see does exists

[2017-03-12 20:16] caleblloyd commented on #210
I've written a test for `EnsureCreate` and `EnsureDelete` and I am unable to reproduce.  Make sure your MySQL user has appropriate permissions to create and drop databases:

![image](https://cloud.githubusercontent.com/assets/2414837/23835518/17a8b272-073f-11e7-83ca-d2bb308c2160.png)

I'm going to add a formal `EnsureCreate`, `EnsureDelete`, and `Migrate` test to the test suite.

[2017-03-12 21:18] stuartleeks commented on #68
@caleblloyd - yes, when I changed the `docker run` options so that it no longer created the database I didn't get this issue. FWIW, I don't get this with SQL Server migrations if the table exists, so the proposed check for `__EFMigrationsHistory` table and creating it if necessary sounds good to me :-)

[2017-03-12 21:25] caleblloyd commented on #68
I'm writing a test for this right now and it appears to be fixed upstream. Works on a blank database in the latest `1.1.1-prerelease`

[2017-03-12 21:26] stuartleeks commented on #68
Ok, I'll give that a try :-)

[2017-03-12 21:28] Nick-Lucas commented on #210
Interesting. So the MySql user is a super with full permissions, and the last stable release does work perfectly when I upgrade the server to 5.6. So it could either be the MySql 5.5 configuration, or an edge case regression with the ScopedTypeMapper and MySql 5.5.

I will have more of a dig into this on my side and report back this week

[2017-03-12 23:53] caleblloyd commented on #210
Test for `dbContext.Database.Migrate`, `dbContext.Database.EnsureCreate` and `dbContext.Database.EnsureDelete` is here: [TestMigrateCommand.cs](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/master/test/Pomelo.EntityFrameworkCore.MySql.PerfTests/Commands/TestMigrateCommand.cs)

I ran it against MySql 5.5 and 5.7 and everything passed.  Please open a new issue if you hit

[2017-03-12 23:53] #210 closed

[2017-03-13 00:37] caleblloyd commented on #68
Test case that covers this is now at [TestMigrateCommand.cs](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/master/test/Pomelo.EntityFrameworkCore.MySql.PerfTests/Commands/TestMigrateCommand.cs)

Passing in CI on MySql 5.7 and passing locally against MySql 5.5

[2017-03-13 21:01] Nick-Lucas opened #214 "Problems with MySQL 5.5 in 1.1.1-pre"
Continuation of #210

The current pre-release on Nuget is giving me "Database does not exist" on MySQL 5.5, even when it does exist and I'm trying to drop it.

This is when used with `.EnsureDeleted` and `.EnsureCreated`.

As suggested by @caleblloyd I have checked out the repo and run the [tests](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/master/test/Pomelo.EntityFr

[2017-03-13 21:05] caleblloyd commented on #214
I had to comment out all of the timestamp tests and JSON tests to get it working against 5.5.

Can you turn `Microsoft` logging to `Information` in your app and see what SQL is getting run?

[2017-03-13 21:35] Nick-Lucas commented on #214
Oh so I'm getting my particular error because the database name is included in the connection string, which kind of makes sense. Not sure why it wasn't happening before, though.

If I remove it from the connection string, and use the fluent api's `modelBuilder.HasDefaultSchema('schema_name')`, then EnsureCreated gives me `MySql.Data.MySqlClient.MySqlException : No database selected`, which also so

[2017-03-13 21:42] Nick-Lucas commented on #214
If I run .EnsureCreated the following SQL also gets generated in my MySQL Query Log:
[code]
3 connections/change users
[code]
[code]
[code]

[2017-03-13 21:47] Nick-Lucas commented on #214
So from this it looks like that first query is not being generated correctly after removing the database from the connection string, and with it in the connection string either MySQL or the provider is throwing

[2017-03-13 22:04] caleblloyd commented on #214
Schema support through Fluent API has not been implemented yet, see #191.  It is planned for 2.0.0, there's a lot of testing that will need to go into it's implementation.

Ensure that you have a database in your connection string for the time being.

What SQL is logged when you do have a database in your connection string?

[2017-03-13 22:23] caleblloyd commented on #207
Fixed in 401fef6ca21bdcdadf86ab3515dd48acab0a88a1

[2017-03-13 22:23] #207 closed

[2017-03-13 23:07] Nick-Lucas commented on #214
Okay that makes sense then!

So with the connection string in place, and no database existing, all I get is this 'Connect' log:
[code]

If I create the database manually then it does drop and recreate properly with .EnsureDeleted->.EnsureCreated

However, this is not the behaviour I was able to get after updating to MySQL-5.6 and Pomelo-1.1, or would expect a provider to give me.

So I'm thinking

[2017-03-15 20:39] Novatide commented on #178
I had this same problem. It was only being thrown when I tried to use a specific property in my Where call. I believe this is a bug in EntityFramework, and has something to do with the way async is being used.

In my case, I was able to work around it by moving my context work into its own Task, and then async calling that.

[2017-03-17 09:01] Kagamine commented on #208
Please put off the date, due to there was a important issue https://github.com/mysql-net/MySqlConnector/issues/196

[2017-03-17 09:12] mykge opened #217 "Specialize encode and engine during creating tables by ef migration"
The generated SQL statement can not be specified encode  and engine

[2017-03-17 09:36] Kagamine commented on #217
Dupe of https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/issues/84

[2017-03-17 09:36] #217 closed

[2017-03-18 23:39] inossidabile opened #218 "Exception interception inside of LINQ Include"
Given we have tables Main and Sub where Main has many Sub.

[code]

[code]
The definition of `Sub` is broken: field `BrokenField` is defined as not null while in reality it's nullable. With that we run:

[code]

It yields nulls into that field and this is the resulting exception:

[code]

It's super misleading... It recursively refers itself and there's no way to figure what really went wrong.

He

[2017-03-19 00:04] caleblloyd commented on #218
What version of this library are you using? Exception logging should be improved in the latest `1.1.1-*` version, can you try with that?

[2017-03-19 15:32] huww98 commented on #208
@Kagamine Will you fix #196 ? This problem prevents me from building database tables automatically when deploying

[2017-03-20 02:50] Daniel15 opened #219 ""Cannot access a disposed object" from MySqlRelationalTransaction when running query on Mono"
### The issue
I'm trying to upgrade my site from Entity Framework 6 to Entity Framework Core, and am looking at using your provider due to a few bugs in Oracle's one. The site is working fine on my dev box (Windows 10), however it fails on my live/staging box (Debian + Mono) with this exception:
[code]

and:
[code]

### Steps to reproduce
My code is here: https://github.com/Daniel15/Website/tree/e

[2017-03-20 15:22] jp7677 opened #221 "An asynchronous socket operation is already in progress using this SocketAsyncEventArgs instance."
Hi there,

We have a pretty straight forward ASP .Net Core application with EF Core that does quite some we api calls with database actions concurrently. We are also do make heavy use of a PaginaList class like described here https://docs.microsoft.com/en-us/aspnet/core/data/ef-mvc/sort-filter-page#add-paging-functionality-to-the-index-method.

Usage looks like:
[code]

Unfortunately we are seeing

[2017-03-20 21:16] irontoby commented on #85
Hello, I am receiving this error in an ASP.NET Core 1.1 app using `Pomelo.EntityFrameworkCore.MySql` version `1.1.1-prerelease-10020`. It seems like after a while I start receiving the error and need to restart the app pool before connections will work again.

I am using the MySQL `DbContext` in both some custom auth middleware and from my main app (i.e. a class called from the controller). I've o

[2017-03-21 04:20] Daniel15 commented on #219
I tried replicating this issue with a standalone site, and was unable to replicate it. On a fresh ASP.NET Core site, it works fine on Mono. I tested both an "empty" site with basic middleware, and an ASP.NET MVC site.

 suspect I'm doing something weird in my code that's causing it to happen :(

[2017-03-21 04:55] Kagamine commented on #219
Show me your project.json or .csproj

[2017-03-21 04:56] Daniel15 commented on #219
Here's the site's csproj: https://github.com/Daniel15/Website/blob/efcore/Daniel15.Web/Daniel15.Web.csproj

All the database stuff is in a separate assembly: https://github.com/Daniel15/Website/blob/efcore/Daniel15.Data/Daniel15.Data.csproj

[2017-03-21 06:13] jp7677 commented on #221
Seems like the root cause has been found and fixed, cool!
Could you please trigger a new preview/myget build? I would love to test if this issue is really resolved.

[2017-03-21 07:00] Kagamine commented on #221
10021

[2017-03-21 09:01] jp7677 commented on #221
Sorry, I still got this exception once in a while, though it seems less often.

[2017-03-21 12:37] Kagamine commented on #221
@bgrainger Could you follow up this issue?

[2017-03-21 12:46] caleblloyd commented on #221
@jp7677 is your code open source so that we can look?

Are you firing off multiple tasks on the same DbContext at the same time, then awaiting them later?  Best practice is to await each async call within the DbContext as it is made, by design a MySQL Connection can only service one query at a time.

[2017-03-21 12:48] caleblloyd commented on #221
@jp7677 also are you sure that you upgraded to [1.1.1-prerelease-10021](https://www.nuget.org/packages/Pomelo.EntityFrameworkCore.MySql/1.1.1-prerelease-10021)?

It is currently showing `0` downloads on NuGet, maybe you are still referencing an older prerelease:

![image](https://cloud.githubusercontent.com/assets/2414837/24147977/23b43ad4-0e13-11e7-9f0d-00c6e64663bb.png)

[2017-03-21 12:55] Kagamine commented on #221
@caleblloyd I confirm I've downloaded the 10021. There were about 70+ failed requests during 31K+ requests in my web app with pomelo 10020, and there were about 10+ failed requests during 31K+ requests with 10021.

[2017-03-21 14:38] caleblloyd commented on #221
I took a look at `MySqlConnector` and cannot find another clear reason why this would occur.  As far as I know, `MySqlDataReader` and `MySqlTransaction` are the only classes that call code when they are disposed, and both of these are properly disposed when the connection is closed.

Right now my hunch is that there is a race condition with the locking in [SynchronizedMySqlDataReader](https://gith

[2017-03-21 17:00] zfkingth opened #222 "There is no ForSqlServerIsClustered extend method"
code as bellow:
        protected override void OnModelCreating(ModelBuilder modelBuilder)
        {
            modelBuilder.Entity<AppCollection>().HasKey(e => e.Id).ForSqlServerIsClustered(false);
        }
ForSqlServerIsClustered would not be recognized.

![image](https://cloud.githubusercontent.com/assets/4738319/24159755/ed6a866c-0e9a-11e7-9219-faf900de764c.png)

[2017-03-21 17:17] mguinness commented on #222
That is implemented for SQL Server provider, not for this provider see [SqlServerIndexBuilderExtensions](https://github.com/aspnet/EntityFramework/blob/f386095005e46ea3aa4d677e4439cdac113dbfb1/src/EFCore.SqlServer/Extensions/SqlServerIndexBuilderExtensions.cs).

It's unclear what version of MySQL you're using, but this article on [clustered indexes](https://dev.mysql.com/doc/refman/5.7/en/innodb-i

[2017-03-21 21:52] AlfonzAlfonz opened #223 "Auto-increment does not work on Id (primary) column"
Hi,
When I'm trying to add new entity to database (mariadb 5.5.52). Ef always tries to set Id column (primary key) to 0. I've tried to switch to MS SQL and it works fine. Command `Update-Database` works without any exception.

Pomelo version: 1.1.1
Mariadb: 5.5.52 (centos 7)
[code]

Startup.cs:
[code]

Connection string:
`server=localhost;userid=remote;pwd=password;port=3306;database=db;sslmode=no

[2017-03-21 23:52] zfkingth commented on #222
@mguinness I'am using MariaDB, does your lib has similiar method controlling the clustered indexes?

[2017-03-22 00:25] Kagamine commented on #222
No, we don't have. If you want to make partition, please use Pomelo.EntityFrameworkCore.MyCat.

[2017-03-22 00:25] #222 closed

[2017-03-22 10:01] moemura commented on #223
try add [Key]

for example :
[code]

MySQL requires auto increment field to be a key

[2017-03-22 11:30] SergioRius opened #224 "Access denied for user 'myuser'@'172.17.0.1' (using password: NO)"
Executing `dotnet ef database drop -f` from command line returns `Access denied for user 'myuser'@'172.17.0.1' (using password: NO)` while all other migrations statements execute without issue.

The testing solution uses a docker container for a MySql database. It has the model in a separate assembly as per [this](http://www.michael-whelan.net/ef-core-101-migrations-in-separate-assembly/) article.

[2017-03-22 11:48] Kagamine commented on #224
Are you using mysql on azure？

[2017-03-22 12:34] SergioRius commented on #224
No. I'm executing docker for windows locally.

 This is the docker compose file:
  version: '2'

  services:
    s3_db:
      image: mysql:latest
      restart: always
      environment:
        MYSQL_ROOT_PASSWORD: mypassword
        MYSQL_DATABASE: mydatabase
        MYSQL_USER: myuser
        MYSQL_USER_PASSWORD: mypassword
      ports:
        - "3306:3306"

    s3.core:
      depends_on:

[2017-03-22 15:12] zfkingth opened #225 "AlterDatabase().Annotation not effect"
### Steps to reproduce
add a migration as follow:

    public partial class second : Migration
    {
        protected override void Up(MigrationBuilder migrationBuilder)
        {
            //migrationBuilder.AlterDatabase().Annotation("COLLATE", "'utf8_general_ci'");
             migrationBuilder.Sql(@"ALTER DATABASE smims COLLATE = 'utf8_general_ci';");
        }
    }

### The issue
migratio

[2017-03-22 19:18] AlfonzAlfonz commented on #223
I've tried to add `[Key]` attributte and EF generated an empty migration and nothing have happened. It seems that EF sets set `Id` column as a key but doesn't set it as auto-increment column.

[2017-03-22 20:39] AlfonzAlfonz commented on #224
It seems when I edit database manually with:
[code]
It works fine.

[2017-03-22 20:48] AlfonzAlfonz commented on #223
When I add AI manually it works fine.

[2017-03-23 01:37] caleblloyd commented on #221
Buffered result sets are now supported in MySqlConnector, and I've added that functionality in #226.
 Hopefully that clears up this issue.

[2017-03-23 02:14] xepher commented on #224
I have same issue.
Notice the server ip.

Part of log:

[2017-03-23 10:33] Lissbrict opened #227 "used "Include" and "Select" after , will produce multiple sql for the sub-table data"
Describe what is not working as expected.

I added EntityFramework to my asp.net core application,i used `Include` and `Select`  after  , will produce multiple sql for the sub-table data。
What is a good solution to the problem?

[code]

### Steps to reproduce

my  code:
[code]
- debug logs :

[code]

### Further technical details
version:1.1.0
Database Provider: mysql
Operating system: win64
IDE:

[2017-03-23 10:40] Lissbrict commented on #227
我发现贵团队有中国人在，可能我英文描述不是很清楚。
意思就是:

- 这是EF的问题还是Pomelo的问题呢?
-  这个问题现在有什么好的解决办法没有呢？谢谢！

[2017-03-23 15:09] #196 closed

[2017-03-23 15:13] caleblloyd commented on #196
Shipped in [1.1.1-prerelease-10024](https://www.nuget.org/packages/Pomelo.EntityFrameworkCore.MySql/1.1.1-prerelease-10024), please verify the fix in your app

[2017-03-23 16:33] jp7677 commented on #221
Hi there, testing with MySqlConnector 0.15.1 and Pomelo.EntityFrameworkCore.MySql 1.1.1-prerelease-10024 I'm still seeing various errors when performing several web api requests with database actions concurrently. Stacktraces do look like:

[code]
[code]
[code]
[code]

I don't think that we misuse the library. We are using Identityserver, therefore we need to register a dbcontext like
[code]
For o

[2017-03-23 16:33] jp7677 commented on #221
Just to be sure, I had also added BufferResultSets=true to my connection string.

[2017-03-23 17:04] caleblloyd commented on #221
Are you executing multiple Entity Framework queries at the same time in the same DbContext?  Right now there is a lock at each command, but Transactions are not locked so they could potentially try to execute while a command is in progress.

Do you pass a connection or a connection string in the `UseMySql` function? Can you post the `UseMySql()` syntax that you use in these 2 functions:

- `ISsoDa

[2017-03-23 18:41] mguinness commented on #227
@Lissbrict While eager loading is in EF Core, [lazy loading](https://docs.microsoft.com/en-us/ef/core/querying/related-data#lazy-loading) isn't supported yet.

[2017-03-23 21:34] jp7677 commented on #221
Please take a look at https://github.com/jp7677/hellocoreclr/tree/mariadb.
This sample project of mine describes some of the mechanics I described, though without IdentityServer.

I have created a branch for using MariaDB with your EF provider instead of Sqlite. The second web page of that app (http://localhost:5000/#/greetings) fires two web api request concurrently to the server. Even there I co

[2017-03-23 21:46] jp7677 commented on #221
Ok, just played with my sample app, once in a while I'm seeing the other exception as well, especially with my last commit.

[2017-03-23 22:47] caleblloyd commented on #221
@jp7677 thanks for posting the test project, it was very helpful in tracking down the bug!

It turns out that this bug has been lurking in our code for some time now, and is only exposed when a DB Context is configured with a generic, `UseMySql<TContext>()`.  The buggy code instantiated a MySqlConnection object and would re-use the same connection for every single request.  This is why you were se

[2017-03-23 22:48] #221 closed

[2017-03-23 22:53] caleblloyd commented on #221
Shipped in [1.1.1-prerelease-10025](https://www.nuget.org/packages/Pomelo.EntityFrameworkCore.MySql/1.1.1-prerelease-10025)

[2017-03-24 05:38] jp7677 commented on #221
Yeah, this looks much much better! Good finding ;)

[2017-03-24 05:39] jp7677 commented on #219
May be the same issue I had, see https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/issues/221

[2017-03-24 05:44] Daniel15 commented on #219
@jp7677 - That issue says:

but I'm not using generics when I call `UseMySql`:

[code]

[2017-03-24 11:56] SergioRius commented on #224
For the while, I've done the following batch file in the project root folder that does the same job:

    dotnet ef database update 0
    dotnet ef migrations remove
    dotnet ef migrations add "Initial"
    dotnet ef database update
    @pause

Rollback to 0 or to a known named migration.
Recreate initial or your named migration.
The mysql container and database is created by the docker compose

[2017-03-24 12:29] SergioRius opened #229 "Issues in migrations when using entities inheritance"
When using a base class for some entities that share several fields, the resulting migration has the following problems:

Only the base class with all the fields is created instead of the child entities.
You can force the entities creation by using `builder.Entity<myEntity>(e => { e.ToTable("MyEntity"); });` for every entity.

Then, if the Id key field is included on the base class, it isn't marke

[2017-03-24 12:38] SergioRius commented on #229
The generated migration has the missing fields and pk definition but still isn't created:

            migrationBuilder.CreateTable(
                name: "Customers",
                columns: table => new
                {
                    Id = table.Column<Guid>(nullable: false)
                        .Annotation("MySql:ValueGeneratedOnAdd", true),
                    Address = table.Column<

[2017-03-24 12:44] caleblloyd commented on #229
Relational Inheritance in Entity Framework Core uses Table Per Hierarchy, see here: https://docs.microsoft.com/en-us/ef/core/modeling/relational/inheritance

As far as I know, all of the inheritance specific code is at https://github.com/aspnet/EntityFramework and it just makes calls to our library for the MySQL syntax

[2017-03-24 12:52] caleblloyd commented on #224
I just tested this through docker and it works with the correct permissions in mysql.  You need to give your mysql user permissions:

[code]

[2017-03-24 12:52] #224 closed

[2017-03-24 12:55] SergioRius commented on #229
Very interesting. So I guess for some time being I will not be able to save some code.
What do you think about the missing columns. I've reverted it all and still there are not created. Do you think there may be something cached there?
Migrations are deleted and even the DB and mysql server are also dropped.

[2017-03-25 04:03] Daniel15 commented on #219
Just tested, and I'm seeing the same issue in 1.1.1-prerelease-10025.

[2017-03-25 06:27] bgrainger commented on #219
Seems like `_transaction?.Commit()` must be getting [called here](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/568ba79c2194ad18845e0cbfa935acaad8865efa/src/Pomelo.EntityFrameworkCore.MySql/Query/Internal/MySqlQueryingEnumerable.cs#L57) when the transaction has already been disposed, but I can't figure out how that is happening.

[2017-03-25 08:02] jp7677 commented on #219
@Daniel15, Can you still reproduce the issue when temporarily disabling IdentityServer, thus commenting out services.AddIdentity(..) and app.UseIdentity()?

[2017-03-25 08:05] Daniel15 commented on #219
@jp7677 I'm not using IdentityServer with a database, I'm using [SimpleIdentity](https://github.com/Daniel15/SimpleIdentity) which has username and password hard-coded in a config file. It doesn't touch a database at all.

[2017-03-25 08:16] jp7677 commented on #219
@Daniel15 ah ok, thanks for clarification ;)
Do you have the posibility to test your project on dotnet core or the full .net framework instead of mono?

[2017-03-25 08:21] Daniel15 commented on #219
It's working fine on the full .NET Framework on Windows 10 (I mentioned that in my original post 😃  )

Unfortunately I can't run the site on .NET Core yet, as I've still got a few dependencies like System.Drawing that I'd need to get rid of first. I could try commenting out all the stuff that doesn't work on .NET Core and see if the database stuff works. I'll try to do that over the weekend.

In t

[2017-03-25 08:29] jp7677 commented on #219
Thanks a lot!

[2017-03-25 11:34] caleblloyd commented on #219
I should be able to run some stress testing on mono, hopefully that will recreate

[2017-03-26 10:52] Bassist067 opened #230 "Pomelo can't process some of MySQL column types"
### Steps to reproduce
Use MySQL DB "Sakila".

I'm new to MySQL development and .NET Core techniques, so I'm trying to scaffold Entity Data Model from existing DB. Here's the code I'm running (from powershell, nuget console doesn't work btw):

dotnet ef dbcontext scaffold "user id=alex;host=localhost;database=sakila;persistsecurityinfo=True" "Pomelo.EntityFrameworkCore.MySql"

### The issue
The ou

[2017-03-26 19:52] adnan-kamili opened #231 "UseMySQL extension method is missing in DbContextOptionsBuilder"
### Steps to reproduce
In ConfigureServices when I try following:
[code]
It doesn't work. Due to DateTimeOffset issue in Sapient I am moving to Pomelo, but UseMySQL extension method is missing. In Sapient
`using MySQL.Data.Entity.Extensions; `
provided the needed extension.
### The issue
UseMySQL extension method is missing.
[code]

### Further technical details

MySQL version: 5.7.17
Operating sy

[2017-03-26 19:53] caleblloyd commented on #219
@Daniel15 does your connection string have `Pooling=false` by chance? I've found a bug where `Pooling=false` closes the connection earlier than it should

[2017-03-26 19:55] caleblloyd opened #232 "Connection closed before it should with Pooling=false"
### Steps to reproduce

Run tests with `Pooling=false`.  There are multiple failures due to the connection getting closed before it should.

### Further technical details

`1.1.1-prerelease-10025`

[2017-03-26 19:57] caleblloyd commented on #231
You must import:

[code]

[2017-03-26 19:57] #231 closed

[2017-03-26 20:18] adnan-kamili commented on #231
@caleblloyd  I tried but still the same error

[2017-03-26 20:42] caleblloyd commented on #231
It's case-sensitive, `UseMySql`

Here's an [example](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/master/test/Pomelo.EntityFrameworkCore.MySql.PerfTests/Startup.cs#L48-L52)

[2017-03-26 20:59] Daniel15 commented on #219
Good catch! It does. A year or two ago I encountered a bug where the MySQL
ADO.NET driver didn't close connections when pooling, resulting in hundreds
of connections to my MySQL server. I turned off pooling as a workaround.

That bug is probably long gone now, and probably was never an issue in the
MySQL library that this library uses. I'm not at home at the moment, but
I'll try removing that from

[2017-03-26 21:08] adnan-kamili commented on #231
Thanks, it worked

[2017-03-26 21:35] #232 closed

[2017-03-26 21:37] caleblloyd commented on #232
Shipped in [Pomelo.EntityFrameworkCore.MySql/1.1.1-prerelease-10026](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/issues/232)

[2017-03-26 21:47] caleblloyd commented on #219
I opened a separate issue for the pooling issue, #232.  It has been fixed and shipped in [Pomelo.EntityFrameworkCore.MySql/1.1.1-prerelease-10026](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/issues/232)

It's always best to use pooling when you can, you'll gain some performance because TCP Connection Setup will be reduced and you'll never spike over `Max Pool Size` connect

[2017-03-26 22:16] Daniel15 commented on #219
Sorry I couldn't elaborate further in my previous reply, I was writing it from my phone while eating lunch 😛

The issues I had were:
1) Connections weren't actually being reused. Even if the pool already had 10 connections in it, hitting the site again resulted in an 11th connection being opened, rather than reusing one of the 10 existing ones. This site is just a personal site/blog that has maybe

[2017-03-26 22:26] Daniel15 commented on #219
Thank you @caleblloyd! I just confirmed that:

 - `Pooling=false` was the issue. My connection string looked something like this:
[code]

- Pooling with this driver works as expected: It definitely reuses connections if there's already connections in the pool (tested with `mysqladmin processlist`), so it doesn't have the same bug the Oracle ADO.NET driver used to have
 - `Pooling=false` works fine

[2017-03-26 22:26] #219 closed

[2017-03-26 22:33] Daniel15 opened #234 "Namespace of this library?"
It's very confusing that this library has classes in the `Microsoft.EntityFrameworkCore` namespace, as it conflates Entity Framework classes with this library's classes. Is there a reason for this? Could the classes be moved into a `Pomelo.EntityFrameworkCore.MySql` namespace instead?

[2017-03-26 22:36] Kagamine commented on #234
Following the postgres, sqlserver and sqlite

[2017-03-26 22:36] Daniel15 commented on #234
@Kagamine  - Are those third-party as well, or are they supported by Microsoft? I think that's the primary difference.

[2017-03-26 22:42] Kagamine commented on #234
postgres is not. In another hand, UseMySql is extending DbContextOptionBuilder which defined in Ms.EfCore.

[2017-03-26 22:43] Kagamine commented on #234
I think this project will join .net foundation soon.

[2017-03-26 22:43] Daniel15 commented on #234
Thanks for the explanation :)

[2017-03-26 22:43] #234 closed

[2017-03-27 00:03] caleblloyd commented on #219
Great, thanks for the report!

[2017-03-27 09:31] LiangZugeng opened #235 "How to use non-password authentication in the connection string?"
### Steps to reproduce
This is a question really instead of a bug or issue report.

### The issue
In the connection string it needs the username and password to authenticate against MySQL, I wonder if there is anyway to use non-password authentication? In Windows there may be possible to use the integrated authentication, however our production server is on Linux. We intended to increase the secur

[2017-03-27 13:13] caleblloyd commented on #235
This is a common issue, typically it's solved by using environment variables or secrets.

You can build the connection string problematically by reading environment variables or files.  For example, one of my projects uses Kubernetes for deployment, which has [secrets](https://kubernetes.io/docs/user-guide/secrets/) as part of the deployment specification.  I store the credentials in these secrets

[2017-03-27 13:48] LiangZugeng commented on #235
Thanks @caleblloyd for the answer. I went through the source code you provided, and in the configuration json file there is "password_file": "/etc/secrets/dotvue-blog-db/pass" which points the appconfig.js to read password from the file, so the password doesn't need to be stored in the source repository, however the password is still clear text on the server disk.

We are using Visual Studio Team

[2017-03-27 15:19] caleblloyd commented on #235
Here's a good article on [mysql_config_editor](http://mysqlblog.fivefarmers.com/2012/08/16/understanding-mysql_config_editors-security-aspects/) security.  It makes a very good point:

Encrypting the file will obfuscate it's contents, but if somebody has access to the decryption key, either in the repository or if it's also readable by the same unix user, then it is still not safe.

I'm not aware

[2017-03-27 15:24] caleblloyd commented on #235
Another option is to limit your MySQL user to the host that you are connecting from.  For example if you connect from `172.17.0.1`:

[code]

This way even if somebody gets the password, they still can't connect without access to a production machine.  You can use partial wildcards to allow subnets if you have multiple app servers.

[2017-03-27 16:25] mguinness commented on #235
Be aware that .mylogin.cnf [isn't a secure password store](http://serge.frezefond.com/2013/02/mysql-5-6-credentials-securely-stored/).

You should also be using [SSL](https://dev.mysql.com/doc/refman/5.7/en/secure-connections.html) to encrypt the connection between MySQL client and the server if you want to increase security.

Anyway these security issues are beyond the scope of this library, perh

[2017-03-28 12:52] iChaosren opened #237 "char(16) to GUID - Special Condition"
By default, scaffolding of the column type char(16) should convert to Guid.
This is a special condition met in the old default MySql Connector.

Could you please add it as a special condition in the next version of the connector?

[2017-03-28 12:59] Kagamine commented on #237
Not all char(16) is GUID. This issue should be discussed.

[2017-03-28 13:22] iChaosren commented on #237
Ok,

Here's what I know, feel free to state your case/say why not:

When using the scaffolding tool on pre-Core systems, using the database-first approach, I created a table that contained a **char(16)** and the ADO.NET Code Generator would automatically assume **char(16)** was a **Guid**.

The reason I used **char(16)** in the first place was due to a post on stackoverflow, regarding the best dat

[2017-03-28 14:40] iChaosren commented on #237
Wrong website -_- They're all suppose to be char(36).
[http://stackoverflow.com/questions/968175/what-is-the-string-length-of-a-guid](http://stackoverflow.com/questions/968175/what-is-the-string-length-of-a-guid)

[2017-03-28 14:40] #237 closed

[2017-03-28 20:41] stephen-cernota commented on #136
Sorry if this reopens the issue, please close, just wanted to add a comment

@Mats391 your solution worked beautifully!

For any other newbies like me, I added Mats's modelBuilder.Entity() calls to new OnModelCreating() function of my Context

`protected override void OnModelCreating(ModelBuilder modelBuilder)`

I copied out all my current migrations from Migrations folder and dropped database, th

[2017-03-29 15:56] chrisNom opened #238 "dotnet ef dbcontext scaffold stops executing"
### Steps to reproduce
Trying to do a DB first project the command to scaffold db just hangs as seen in the picture:

![pomelo](https://cloud.githubusercontent.com/assets/21661957/24463984/1e55fbc8-14b1-11e7-81cc-a1c329a08bd5.png)

### Further technical details

MySQL version: 5.6
Operating system:  Win 8.1
Pomelo.EntityFrameworkCore.MySql version: 1.1.0

[2017-03-29 17:47] mguinness commented on #238
@chrisNom Can you look at issue https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/issues/149?  Let us know if that doesn't help.

[2017-03-30 06:38] xland commented on #64
I cann't find the statement logging.

startup.cs    Configure  method:
`
loggerFactory.AddConsole(Configuration.GetSection("Logging"));
loggerFactory.AddDebug();
`

appsetting.json
`
"Logging": {
    "IncludeScopes": false,
    "LogLevel": {
      "Default": "Debug"
    }
  }
`

[2017-03-30 16:33] mguinness commented on #238
Can you share the schema of the artifacts table?  FWIW, tables must have a PK for scaffolding to work.

[2017-03-30 18:41] adnan-kamili opened #239 "Substring in Select returns empty value"
### Steps to reproduce
Following is my Select projection:
[code]
### The issue
In the Sapient it was working fine, but after I switched to Pomelo it always returns the **Name** property empty.

When I checked the generated query it is trying to do the **Substring** operation using SQL and returns incorrect result.

[code]

### Further technical details

MySQL version: 5.6
Operating system: macOS
P

[2017-03-30 19:11] mguinness commented on #239
@adnan-kamili What SQL does Sapient generate?

[2017-03-30 19:23] adnan-kamili commented on #239
It does it simple:

[code]

and leaves Substring operation to C# which works as expected.

[2017-03-30 19:37] mguinness commented on #239
OK, but that isn't performant when dealing with large tables.  Without seeing data it's hard to determine the issue, but what does the following SQL give?

[code]

[2017-03-30 19:41] adnan-kamili commented on #239
Even following returns an empty string, if I hardcode the values in Substring(0,5)

`SELECT `t`.`Id`, SUBSTRING(`t`.`Name`, 0, 5), `t`.`Description`, `t`.`CreatedAt`, `t`.`ModifiedAt``

[2017-03-30 19:46] adnan-kamili commented on #239
I fixed my issue temporarily by using Replace instead of Substring, but you should consider fixing it.

Name = role.Name.Replace(role.TenantId,string.Empty),

[2017-03-30 20:00] mguinness commented on #239
Try hardcoding the Substring(1,5) instead and see what you get

[2017-03-30 20:17] adnan-kamili commented on #239
Worked fine but that is a bug, the semantics of C# Substring and SQL Substring are not aligned, you need to add an offset in your code.

[2017-03-30 20:44] mguinness commented on #239
Yes, that was why I asked and what I wanted to confirm.

[2017-03-30 21:26] GuerrillaCoder opened #240 "Is Migrate() supported?"
I am using AspNetCore 1.1.1 and Pomelo.EntityFrameworkCore.MySql 1.1.0.

Locally I am developing on windows with visual studio and a local copy of MariaDB and everything works fine.  I can run update-database and the database is created.

My production server is Ubuntu 16.04.  When I publish my website and upload the published files the necessary tables are not created in the production database.

[2017-03-30 21:53] caleblloyd commented on #240
Duplicate of #68 , see https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/issues/68#issuecomment-285953872

It's fixed upstream and works in `1-1-1-*`

[2017-03-30 21:53] #240 closed

[2017-03-30 22:01] GuerrillaCoder commented on #240
OK, thanks.

For anyone finding this it works if you make table manually:
[code]

[2017-03-30 22:03] mguinness commented on #240
See https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/issues/99#issuecomment-266344129

[2017-03-31 07:21] chrisNom commented on #238
CREATE TABLE `artifacts` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `Details` text,
  `TypeID` int(11) NOT NULL,
  `ParentType` varchar(50) DEFAULT NULL,
  `ParentID` int(11) DEFAULT NULL,
  `ByUser` varchar(50) DEFAULT NULL,
  `Filename` varchar(255) DEFAULT NULL,
  `filedata` longblob,
  `filesize` int(11) DEFAULT NULL,
  `CreatedOn` datetime NOT NULL,
  `LastUpdatedOn` datetime NOT NULL,
  PRI

[2017-03-31 07:23] chrisNom commented on #238
But I tried even a more simple one:

[code]

The result is the same

[2017-03-31 09:29] jp7677 opened #242 ""Cannot access a disposed object. Object name: 'MySqlConnection'." when trying to persist 35 MB to MariaDb."
### Steps to reproduce
Please take a look at https://github.com/jp7677/hellocoreclr/tree/mariadb. When running the app I can reproduce the error by enter some text and press the "Say Hello" button.
Entity and dataservice are pretty straight forward (relevant parts):

[code]
### The issue
I'm trying to save 35MB to the database in an ASP.Net Core request, unfortunately it ends with a ObjectDisposed

[2017-03-31 09:35] jp7677 commented on #242
I'm seeing this exeception (sometimes) before the ObjectDisposedException:

[code]

[2017-03-31 09:50] jp7677 commented on #242
ok, trying 15MB give me a much more useful exception:

[code]
I wonder if this should be the same exception when trying 35 MB.

[2017-03-31 13:59] LiangZugeng commented on #235
Thanks for the replies and suggestions, after doing some more researching, we are going to implement our own secret user store and provide it as a service for our applications to use, this hopefully will help us deal with such kind of issues once and for all. This issue can be closed and thanks again.

[2017-03-31 13:59] #235 closed

[2017-03-31 14:19] caleblloyd commented on #242
Whoa, 35MB is a lot to be putting into an RDBMS.

Regardless we should be returning the proper exceptions.  I wonder if MariaDB is just hanging up the connection after a certain amount of data to "save" itself, and that's why we're getting odd exceptions.

[2017-03-31 14:25] bgrainger commented on #242
I'm guessing that [`max_allowed_packet`](https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html#sysvar_max_allowed_packet) on your server is set to 32MB (so a 35MB packet can't be sent at all, but a 15MB packet can be sent, but causes a different error in MySQL Server/MariaDB).

The workaround is to increase both the `max_allowed_packet` and [`innodb_log_file_size`](https://dev.mysql

[2017-03-31 14:40] jp7677 commented on #242
Hi @bgrainger, @caleblloyd,
Thanks for the info. Yeah, the 35MB is the reproduction scenario in my playground ;). I had hit the same ObjectDisposedException (without the "MySqlSession is not connected." up front) in a real project with just 7MB and was completely clueless.
Your explanation and solution sounds completely sane.
Thanks a lot for willing to raise a more descriptive Exception in that c

[2017-03-31 18:26] mguinness commented on #238
I was able to scaffold those two tables w/o issue using Pomelo 1.1.0 against MySQL 5.1 on Windows 10:

`C:\Projects\ConsoleApp3>dotnet ef dbcontext scaffold "server=XXX" Pomelo.EntityFrameworkCore.MySql -o Models`

The tool output generated three files (the two tables and the context), see attached [Models.zip](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/files/886566/Model

[2017-04-01 00:05] bgrainger commented on #242
[MySqlConnector 0.16.1](https://www.nuget.org/packages/MySqlConnector/0.16.1) will throw a more helpful exception message in this scenario. However, this is still a limit enforced by the server and there's no way inserting 35MB of data will succeed without increasing the server variables I mentioned earlier.

[2017-04-01 05:11] jp7677 commented on #242
Thanks a lot, unfortunately the exception is still the same on my machine after updating to:
<PackageReference Include="MySqlConnector" Version="0.16.1" />
<PackageReference Include="Pomelo.EntityFrameworkCore.MySql" Version="1.1.1-prerelease-10027" />

15MB gives me:
Microsoft.EntityFrameworkCore.DbUpdateException: An error occurred while updating the entries. See the inner exception for details.

[2017-04-01 05:19] Kagamine commented on #242
shipped in 10027

[2017-04-01 05:45] jp7677 commented on #242
@Kagamine, Sorry, I'm on 10027 (the xml tags didn't show up in my github response, I have remove the `<>`. now its there)

[2017-04-01 05:53] bgrainger commented on #242
I think you might be running into the known issue I mentioned in the last paragraph at mysql-net/MySqlConnector#216.

Currently, once you exceed the `max_allowed_packet`, the server resets the connection and it's no longer usable. Oracle's connector works around this (for the most part, I believe) by not sending the packet if it thinks it will fail, which preserves the connection.

I'm guessing th

[2017-04-01 05:54] bgrainger commented on #242
@caleblloyd if MySqlConnector was able to change `MySqlConnection.State` to `Closed` would Pomelo EF Core have better error handling?

[2017-04-01 14:48] florinciubotariu opened #243 "Adding data with romanian diacritics aren't saved properly"
### Steps to reproduce
Execute dbContext.Database.ExecuteSqlCommand(@"INSERT INTO Table VALUES("ț')");
### The issue
When I update a row with data that contains romanian [diacritics](http://collation-charts.org/mysql60/mysql604.utf8_romanian_ci.html) that specific character is replaced with
Äƒ, È›, Åž, etc.
I'm using MySQL Workbench to see the results.
When retrieving the data, even though it is s

[2017-04-01 19:35] caleblloyd commented on #242
I'm not sure, I can try a patched build and see. Might take me a day or two before I have time.

[2017-04-02 14:07] caleblloyd commented on #242
The `ObjectDisposedException` is happening because we are in a transaction.  When the connection is disposed in the Using block, it tries to execute a `ROLLBACK` on the uncommitted transaction, but since the connection has been reset it hits the `ObjectDisposedException`

I'm able to recreate by adding a transaction in the MySqlConnector tests, should be a pretty easy fix.

[2017-04-02 18:37] nairraf commented on #136
I hope this doesn't open this back up, but I thought I would add a note as well - please close if it opens it back up.

It seems that if I use MariaDB (10.1.22 || 5.5.54) with unicode collations (ex. utf8_unicode_ci, utf8_general_ci), I have to use similar methods from @stephen-cernota  and @Mats391, namely I need this in my dbcontext OnModelCreating() override to avoid the max key length exceptio

[2017-04-03 08:18] chrisNom commented on #238
Ok, so I guess my problem cannot be reproduced.
Yet, mysql 5.1?? is nt it too old??

Thank you for your efforts anyway!

[2017-04-03 15:41] jp7677 commented on #242
I couldn't resist to test with MySqlConnector 16.2. The ObjectDisposedException is indeed gone, but now I'm getting a SocketException. This is far closer to the truth, but would be cool to get the MySqlException with "Error submitting {0}MB packet; ensure 'max_allowed_packet' is greater than {0}MB" message.

[2017-04-04 03:46] wyy272176594 commented on #203
I changed foreign key's name shorter and it could work.

[2017-04-04 06:55] drakoumel opened #245 "Async Function around EF Delete throws Exception"
### Steps to reproduce
[code]

### The issue
Sequential await/async statements to EF command delete causes the following exception.

This was posted originally @ https://github.com/aspnet/EntityFramework/issues/8042
[code]

### Further technical details

MySQL version: Ver 14.14 Distrib 5.7.16, for Linux (x86_64)
EF Core version: "Microsoft.AspNetCore.Identity.EntityFrameworkCore" Version="1.1.1"

[2017-04-04 10:58] caleblloyd commented on #245
Could you please try with `1.1.1-*` and see if this has been fixed already?

[2017-04-04 19:05] caleblloyd commented on #191
Initial support was added in #236.  Fully tested support will come in #246, and this will be in `1.1.1`

[2017-04-04 19:05] #191 closed

[2017-04-04 19:27] florinciubotariu commented on #243
Update:
dbContext.Database.ExecuteSqlCommand(@"INSERT INTO Table VALUES(**N**"ț')"); works.
I've tried to set IsUnicode() on the entity but it still doesn't work.

[2017-04-04 20:17] caleblloyd commented on #242
I've opened #247, my local copy of your test with that commit now produces:

[code]

[2017-04-04 20:20] #242 closed

[2017-04-04 22:28] #239 closed

[2017-04-05 06:19] jp7677 commented on #242
Yeah, cool! Thanks a lot.
Its a pleasure to use this project (and the underlying MySqlConnector of course ) and to work with you!

[2017-04-05 06:49] #238 closed

[2017-04-05 06:57] chrisNom opened #248 "How to code-first with explicitly defined DB table fields sequence?"
### Steps to reproduce
I tried to add Column Order annotation like this:
[code]
But it was not succesfull, it created a table like this:

### Further technical details

MySQL version: 5.6
Operating system: win8.1
Pomelo.EntityFrameworkCore.MySql version: "1.1.0"

Other details about my project setup:
"Microsoft.EntityFrameworkCore": "1.1.0",

[2017-04-06 07:48] JanBN opened #249 "dotnet ef database update - You have an error in your SQL syntax"
### The issue
I have reversed enginner database and created models. When I run **dotnet ef database update** I get this error:
[code]

### Steps to reproduce
It's on users table:
[code]

C# model:
[code]

Model builder:

[code]

### Further technical details

MySQL version: 10.1.21-MariaDB
Operating system: Windows 10
Pomelo.EntityFrameworkCore.MySql version:
    <PackageReference Include="Pomelo.

[2017-04-06 10:53] Kagamine commented on #249
@JanBN `datetime` in mariadb should be greater than `1000-01-01 00:00:00.000000`.

https://mariadb.com/kb/en/mariadb/datetime/

You can try to add .HasDefaultValue("1000-01-01 00:00:00.000000") in your dbcontext class.

[2017-04-06 10:54] #249 closed

[2017-04-06 11:40] drakoumel commented on #245
@caleblloyd ehmm that version has a problem with creating...

`          await _modelRepository.Create(model);
            await _modelRepository.Save();  `

[code]

[2017-04-06 11:50] Kagamine commented on #245
what is the implementations of create and save?

[2017-04-06 12:11] SergioRius opened #250 "Relationships doesn't load any data"
### Steps to reproduce
I have the following models on a project set-up for code-first:

    public class Customer
    {
        [Key]
        [DatabaseGenerated(DatabaseGeneratedOption.Identity)]
        public Guid Id { get; set; }

        public string FirstName { get; set; }

        public virtual ICollection<CustomerContact> Contacts { get; set; } = new List<CustomerContact>();
    }

    pu

[2017-04-06 12:14] Kagamine commented on #250
why annotate .Include & [ForeignKey()]? Eager Load depends on them.

[2017-04-06 12:23] SergioRius commented on #250
Kagamine, I also tried with those lines uncommented but doesn't work. I commented them as EFCore documentation doesn't use them.
I will try again with them right now. I understand that all of them should be used.

Relations are created:

    CONSTRAINT `FK_CustomerContacts_Customers_CustomerId` FOREIGN KEY (`CustomerId`) REFERENCES `Customers` (`Id`) ON DELETE CASCADE

[2017-04-06 12:33] SergioRius commented on #250
This last time it worked. I don't know what it is but it can't be a code problem, because all other relations also started working. This may be a dependencies issue. I had a warning on nuget deps that now doesn't appear.

So it doesn't load linked data for default? Should I always add ".include" (I never used it before)? It's something changed in lazy loading?

[2017-04-06 12:45] caleblloyd commented on #250
Correct, you either need to Eager Load or Explicit Load.  Lazy loading is not yet implemented in EF Core.  Here's the docs: https://docs.microsoft.com/en-us/ef/core/querying/related-data

[2017-04-06 13:52] caleblloyd commented on #208
1.1.1 Milestone is cleared!  I've published [1.1.1-prerelease-10029](https://www.nuget.org/packages/Pomelo.EntityFrameworkCore.MySql/1.1.1-prerelease-10029), it is a Release Candidate.

@Kagamine what date should we release?

[2017-04-06 13:58] Kagamine commented on #208
just now？

[2017-04-06 14:18] drakoumel commented on #245
@Kagamine please see the updated answer above. Hope this is what you meant.

[2017-04-06 15:40] caleblloyd commented on #208
I've run some more tests against 1.1.1-prerelease-10029 on another project and I'm happy with it.  I'll let you push the release in myget.  Thanks!

[2017-04-06 16:36] SergioRius commented on #250
Gotcha. Thanks very much.

[2017-04-06 16:36] #250 closed

[2017-04-07 15:21] Bogatinovski opened #252 "Wrong MySQL syntax is generated for the Migration's down method when setting up UNIQUE constraint with HasAlternateKey"
### Steps to reproduce

1. Create basic User entity:
`public class User
{
      public int ID { get; set; }
      public string Email { get; set; }
}`

2. In the DbContext class inside OnModelCreating method configure the Email property to be unique:
`modelBuilder.Entity<User>().HasAlternateKey(c => c.Email).HasName("AlternateKey_Email");`

3. Create the migration file:
`dotnet ef migrations add "

[2017-04-07 23:07] Kagamine commented on #252
MySql does not support AK. Please use .HasIndes().IsUnique()

[2017-04-07 23:07] #252 closed

[2017-04-08 11:30] adnan-kamili opened #253 "Set default length of string type to 256"
By default pomelo sets all properties to type **LongText** which is not very efficient. How can we change the default type for string using some global setting. I don't want to add data annonation to each property of every model to change the default type for string.

[2017-04-09 00:13] Kagamine commented on #253
Dupe of #195

[2017-04-09 00:13] #253 closed

[2017-04-09 06:34] adnan-kamili commented on #253
@Kagamine how is this a duplicate. If I create a simple model class:
[code]

Corresponding to above "Name" field the data type generated in database is "Long Text" by default. So, I want to change this default of "Long Text" to "varchar(256)" without adding annonation to my model class.

[2017-04-09 08:20] Kagamine commented on #253
sorry I've misunderstood you.

For your issue, you should create a custom typemapper class like the following code:

https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/master/src/Pomelo.EntityFrameworkCore.MySql/Storage/Internal/MySqlTypeMapper.cs#L174

and change the line 174, modify it to 256, and add your class into DI collection.

[2017-04-09 08:24] adnan-kamili commented on #253
How would that change the default string mapping to varchar(256) from longtext. Suppose if need default to be varchar(127) what change would I make?

[2017-04-09 08:53] jp7677 commented on #252
Would it be possible to raise a NotSupportedException in this case somewhere?

[2017-04-09 09:10] Kagamine commented on #253
Create a CustomMySqlTypeMapper to replace the original one https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/master/src/Pomelo.EntityFrameworkCore.MySql/Storage/Internal/MySqlTypeMapper.cs

and put your CustomTypeMapper into EF DI Collection.

[2017-04-10 14:01] #208 closed

[2017-04-10 14:46] fabs-rodriguez opened #254 "Reverse engineering MySQL Database"
### Steps to reproduce
Ideally include a complete code listing that we can run to reproduce the issue.
Alternatively, you can provide a project/solution that we can run.

### The issue
Describe what is not working as expected.

If you are seeing an exception, include the full exceptions details (message and stack trace).

[code]

### Further technical details

MySQL version:
Operating system:
Pome

[2017-04-10 14:46] #254 closed

[2017-04-10 14:47] fabs-rodriguez commented on #254
Sorry, accidentally added before completing

[2017-04-10 14:54] fabs-rodriguez opened #255 "Database reverse engineering not working"
Hi

I am trying to reverse engineer/scaffold a MySQL database in a .Net Core 1.1 / EF 1.1 Web Api from Visual Studio 2017.

In my *.csproj file, I have:

`<PackageReference Include="Microsoft.EntityFrameworkCore.Tools.DotNet" Version="1.0.0-msbuild3-final" />
`

and

`<DotNetCliToolReference Include="Microsoft.EntityFrameworkCore.Tools.DotNet" Version="1.0.0-msbuild3-final" />
`

I then run:

**do

[2017-04-10 14:58] fabs-rodriguez commented on #255
Here is the full *.csproj file:

<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>netcoreapp1.1</TargetFramework>
    <PackageTargetFallback>portable-net45+win8</PackageTargetFallback>
  </PropertyGroup>

  <ItemGroup>
    <Folder Include="wwwroot\" />
  </ItemGroup>
  <ItemGroup>
    <PackageReference Include="Microsoft.ApplicationInsights.AspNetCore" Version="2.0.0"

[2017-04-10 18:23] mguinness commented on #208
Awesome work guys, thanks for the release!

[2017-04-10 18:40] mguinness commented on #255
Dupe of https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/issues/152.  We suggest you search the existing issues before opening another.

[2017-04-10 22:38] #255 closed

[2017-04-11 06:32] fabs-rodriguez commented on #255
Thanks for the link and the suggestion.

[2017-04-11 07:03] fabs-rodriguez commented on #152
I have the same problem. All my tables have PK's though. However it appears to be doing this on tables that have Foreign Keys...

I'm using Pomelo 1.1.1
EF Core 1.1 / .Net Core 1.1 Web Api
Visual Studio 2017

[2017-04-11 15:18] mguinness commented on #152
@fabs-rodriguez Use [this schema](http://www.mysqltutorial.org/mysql-sample-database.aspx) that has FK's and try to scaffold that.  If that works, then there must be something specific to your schema that'll need investigation.

[2017-04-12 01:22] GuerrillaCoder opened #256 "Table already exists"
### Steps to reproduce
I upgraded from 1.1.0 to 1.1.1.  I added a migration that added a new entity.  After I ran update-database it gives me an error that my enquiries table already exists (not for new entity, for an entity that has already been created fine before update).  The migration does not change this table.  I am not sure why it is failing because this table exists.  Something must be ou

[2017-04-12 04:12] mguinness commented on #256
Is it possible that the __EFMigrationsHistory table is missing/empty?  Maybe try `dotnet ef migrations script` to see what DDL is being generated.

[2017-04-12 04:28] Kagamine commented on #256
Therr were many breaking changes after 1.1.0. Maybe you have to fix this manually.

[2017-04-12 11:56] Kagamine opened #257 "MySQL 8.0.1"

[2017-04-12 13:02] caleblloyd commented on #256
This would be difficult for us to track down and could be a one-off problem with a migration.  It could even be related to upstream EF.

My recommendation is also to manually inspect the migration that has been created and adapt it so that it applies the proper configuration.  It's always a good idea to review migrations before applying anyways to make sure that EF has detected your intent.

[2017-04-15 03:18] dansiegel opened #259 "MySQL Exception Handling"
# Issue

This was previously brought up in issue #200. When using AspNetCore.Identity, the entities start throwing an exception for the "Specified key was too long". The error thrown though is quite useless as it provides no context for debugging or fixing the entities.

# Expected Behavior

The exception thrown should include information at least for the Table and/or Property that caused the exce

[2017-04-15 13:30] caleblloyd commented on #259
The solution here is to use Logging to see which statements are getting executed.

Change `Microsoft` log level to `Information` ([example](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/master/test/Pomelo.EntityFrameworkCore.MySql.PerfTests/appsettings.json#L7))

If you don't already have this somewhere, here's some examples:

- [Read a JSON object into a configuration

[2017-04-15 13:30] #259 closed

[2017-04-17 05:18] vaneapp opened #261 "Pomelo doesn't update entities with concurrency tokens"
# POCO
[code]
# Fluent API
[code]
# Generated Script
[code]

# Update Query generated by POMELO
[code]

# Pomelo version
Pomelo.EntityFrameworkCore.MySql(1.1.1)

All appears well by the entity isn't update in database.

[2017-04-17 19:35] mguinness commented on #261
See discussion on [row versioning](http://stackoverflow.com/questions/40394577/better-way-to-implement-a-row-version-with-ef-core-and-mysql) in SO.

[2017-04-18 00:13] bgrainger commented on #257
@Kagamine Is there a concrete objective you have in mind for this issue?

I've tested MySqlConnector against MySQL Server 8.0.1 and found one bug in the connector: mysql-net/MySqlConnector#242.

[2017-04-18 04:42] vaneapp commented on #261
Hi mguinness,
I saw the discusion on stackoverflow about row versioning. That´s is a trick a patch.
When the Pomelo provider thinks solve this feature transparently how the SQLServer provider solves it?
I mean without extra work.

[2017-04-18 06:42] mguinness commented on #261
Please provide some further information for your issue.  The update query you provided only shows parameter placeholders, what is the actual SQL (with values) being run against MySQL?  Also provide the RowVersion field value before you call SaveChanges.  You also didn't mention what version of MySQL you're using and on what OS.

[2017-04-20 00:31] Kagamine commented on #257
Shipped in 1.1.2-preview-10032

[2017-04-20 00:38] jemiller0 opened #262 "Memory leak in version 1.1.1"
I upgraded to version 1.1.1 the other day. Then, I noticed that the following consumed 28 GB RAM and looked like it was never going to complete. The problem occurs with multiple different large tables that I have (around 8 million rows). The same query on version 1.1.0 completes with 370 MB RAM.

            using (var oc = new OleLibrary.OleEntityFrameworkCoreContext())
            {

[2017-04-20 00:53] caleblloyd commented on #262
This may be due to [Buffered Result Sets](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/pull/226), which were added for `1.1.1`

I wonder if Entity Framework is querying the entire row, then just reading the `Id` column from the reader.  Could you post the generated SQL from the `SELECT` statement?  An example of how to turn `Microsoft` logging level to `Information` can be

[2017-04-20 01:14] jemiller0 commented on #262
It looked like it pulled the data down at first I could see network activity. But, then, it seems to do a lot of processing in memory where there isn't much network activity, but, memory climbs a lot.

I had a similar problem with the SQL Server provider, but, found out that it was because I had EnableRetryOnFailure() enabled, which causes the provider to buffer the results. However, I'm not doing

[2017-04-20 01:31] bgrainger commented on #262
Do you have access to a memory profiling tool such as [dotMemory](https://www.jetbrains.com/dotmemory/), [ANTS Memory Profiler](http://www.red-gate.com/products/dotnet-development/ants-memory-profiler/), [.NET Memory Profiler](http://memprofiler.com/), or similar?

Providing more detailed information about the type and number of managed objects in the heap will be helpful in troubleshooting this.

[2017-04-20 01:33] bgrainger commented on #257
@Kagamine MySqlConnector 0.18.0 (the latest version on NuGet) doesn't include the MySQL 8.0.1 fixes; I'll update this case when a fixed version is available.

[2017-04-20 01:38] jemiller0 commented on #262
I have Visual Studio 2017 Enterprise, which has a profiler built into it. However, I don't have a lot of experience with it, but, I can see what I can figure out tomorrow. I ran it earlier today with the SQL Server provider when I ran into the problem with EnableRetryOnFailure(). I posted some screen shots of that at
https://github.com/aspnet/EntityFramework/issues/7363. I'm not sure if a screensh

[2017-04-20 01:48] bgrainger commented on #262
A complete code sample that reproduces the problem is probably much more helpful. (I don't personally have any experience with EF Core, so I can't easily attempt to recreate this problem; my experience is with the underlying MySqlConnector library. A repro could show me where the problem lies.)

[2017-04-20 02:11] caleblloyd commented on #262
I'm able to recreate.  I think the issue may be with Buffered Result Sets.  I just ran a test before and after 240aae7281220e8ac5f47e97084546755f9b9e81, which added Buffered Result Sets.

Before: Read completes in 4 seconds, memory stays relatively
After: Read completes in 17 seconds (including buffering), memory spikes to 5GB

I wonder if [ArrayPool.Shared.Rent/Return](https://github.com/mysql-ne

[2017-04-20 02:30] caleblloyd commented on #262
[code]
Here are the actual links allocated by ArrayPool.Shared.Rent/Return:

[code]

I think that `bufferedPayload` must span multiple MySQL rows and the whole thing should not be buffered like this.  I'll open an issue in MySqlConnector and work it over the next couple of days.

[2017-04-20 03:23] jemiller0 commented on #262
Yeah, I did notice that the memory jump around. It went up to 28 GB and then came back down again, then, went back up a lot. It wasn't like it got allocated and was never released. I let it run awhile, but, it didn't complete. I cancelled out after 5 minutes or so.

[2017-04-20 05:03] Kagamine commented on #262
In nuget version rule, `1.1.1-update1 < 1.1.1`, maybe we can release 1.1.2?

[2017-04-20 14:00] jemiller0 commented on #262
On an unrelated note, that I can submit a different issue on for the lower-level driver. I've been noticing that if an exception occurs, and Dipose() is called a lot of times, I've been finding that it will give an error about the session not being connected like below. However, I think this is an exception that happens after another exception and the original exception gets masked. It seems like

[2017-04-20 14:07] caleblloyd commented on #262
I believe that was already fixed in https://github.com/mysql-net/MySqlConnector/commit/be4c54f7d2c93475b0266e83eaefe2c92b2a76da and is in MySqlConnector 0.16.2.  Version 1.1.1 of this library uses MySqlConnector 0.16.1 however.

[2017-04-20 16:03] bgrainger commented on #257
[MySqlConnector 0.18.1](https://www.nuget.org/packages/MySqlConnector/0.18.1) includes the fixes for MySQL Server 8.0.1.

[2017-04-20 21:31] florinciubotariu commented on #243
[MySqlMaxLengthMapping](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/854e79dca7d33b4c333972ed4a903822432071a6/src/Pomelo.EntityFrameworkCore.MySql/Storage/Internal/MySqlMaxLengthMapping.cs) has a constructor that accepts a _boolean unicode_ value.
In [MySqlTypeMapper](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/2db9a1a9d748a268a451d162080c

[2017-04-21 00:59] caleblloyd commented on #262
A fix is inbound https://github.com/mysql-net/MySqlConnector/pull/247

[2017-04-21 02:50] Kagamine commented on #257
@bgrainger Thanks

[2017-04-21 14:45] bgrainger commented on #262
Fixed in [MySqlConnector 0.18.0](https://www.nuget.org/packages/MySqlConnector/0.18.2).

[2017-04-21 15:01] jemiller0 commented on #262
Thanks guys. Will test this out soon, probably today.

[2017-04-23 18:09] caleblloyd commented on #262
I tested on 8 million rows and hit around 1GB of Memory Usage, command completed as expected. @jemiller0 does the latest `1.1.2-*` work for you?

@Kagamine I think we need to do a bugfix release for this issue.  It just built [1.1.2-preview-10038](https://www.nuget.org/packages/Pomelo.EntityFrameworkCore.MySql/1.1.2-preview-10038), that should be a good release candidate.  It's got some additional

[2017-04-23 23:35] Kagamine commented on #262
1.1.2 is better

[2017-04-25 12:44] ydekova opened #263 "Scaffolding not working with netcore 1.1 - Could not load file or assembly 'System.Runtime.InteropServices.RuntimeInformation,..."
Just upgraded to the latest dot net core version as well as VS2017.
Created a simple netcoreapp class library and added
Pomelo.EntityFrameworkCore.MySql
Pomelo.EntityFrameworkCore.MySql.Design

here is what my csproj file looks like:

[code]

When I try to scaffold the model from existing DB I'm getting this error

System.IO.FileLoadException: Could not load file or assembly 'System.Runtime.Intero

[2017-04-25 17:37] sauravMSFT commented on #166
Yes, I am facing this same issue. But after going through MySQL concepts again, Weak entities do need to define the combination of those foreign keys as their own primary key, right?

[2017-04-25 20:29] ChristianHaase opened #264 ""There is already an open DataReader associated with this Connection..." on .Include()"
### The issue
I'm trying to load multiple pieces of data, and my second piece of data is dependent on the first piece of data. Basically I don't know whether I need to load the second piece of data, before I retrieved the first piece of data.

Here's an example:

[code]
If I remove the `.Include(x=> x.UserProfile)` I'm not getting any exceptions, so I believe that's the source of the problem.

Thi

[2017-04-25 21:26] caleblloyd commented on #264
Can you upgrade to the latest `1.1.2-*` release and try again? Many changes have been made.

[2017-04-26 03:37] #262 closed

[2017-04-26 06:51] ChristianHaase commented on #264
Yes, I'll try and then post my progress here.

[2017-04-26 06:57] bgrainger commented on #126
MySqlConnector 0.19.0 includes a lot of performance fixes across all areas of the library: mysql-net/MySqlConnector#245

[2017-04-26 12:39] Kagamine commented on #126
@caleblloyd Could you re-run the pomelo performance test, I want to compare our lib to others.

[2017-04-26 12:45] caleblloyd commented on #126
I can do it in a few days. I'll try to get it working against Oracle and Sapient.

[2017-04-26 18:51] ChristianHaase commented on #264
I can't seem to find the 1.1.2-* version on nuget? How do I add this again?

[2017-04-26 18:53] caleblloyd commented on #264
https://www.nuget.org/packages/Pomelo.EntityFrameworkCore.MySql/1.1.2-preview-10038

[2017-04-26 18:55] ChristianHaase commented on #264
Alright got it working, but it doesn't seem to change anything. I'm still getting the same error.

[2017-04-26 19:00] caleblloyd commented on #264
You are likely running two queries over the same context before the first one has completed. I'd recommend enabling logging and investigating if that is the cause:

Change `Microsoft` log level to `Information` ([example](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/master/test/Pomelo.EntityFrameworkCore.MySql.PerfTests/appsettings.json#L7))

If you don't already have

[2017-04-26 19:08] ChristianHaase commented on #264
**Found my issue.**

I'm not sure why it's giving me the exception: `There is already an open DataReader associated with this Connection which must be closed first.`, when the actual problem is an `InvalidCastException`.

I had a datatype of `BLOB` in my DB, but in my class i defined the property as a string. It tried to cast a byte[] into a string, hence the invalid cast exception.

Thank you for

[2017-04-26 19:10] #264 closed

[2017-04-26 19:11] caleblloyd commented on #264
I'll look into the incorrect exception.  It comes because the reader hasn't been used due to the first exception, then the transaction getting closed throws the DataReader exception. We need to make sure the first exception gets through though.

[2017-04-27 12:21] Kazinix opened #265 "Translation of NewGuid()"
### Steps to reproduce
I'm using it for getting random records.
[code]
### The issue
Cannot translate to NewGuid() to UUID()

[code]

### Further technical details

MySQL version: MariaDB 10.1
Operating system: Windows 8
Pomelo.EntityFrameworkCore.MySql version: 1.1.1

[2017-04-27 14:45] Kagamine commented on #265
In MySQL order by uuid() will not make your result in a random order. You have to use order by rand()

[2017-04-27 14:45] #265 closed

[2017-04-27 15:37] Kazinix commented on #265
@Kagamine  Figured that out just now. BTW, don't you think it's still necessary to add NewGuid for other use?

[2017-04-29 15:13] #257 closed

[2017-04-30 13:35] Kagamine opened #266 "Welcome to join the discussion email group"
Now, everyone of the Pomelo.EntityFrameworkCore.MySql users can join this email group by the following link.

https://outlook-sdf.office.com/owa/pomeloentityframeworkcoremysql@service.microsoft.com/groupsubscription.ashx?action=join&guid=06050988-4493-4768-241e-7229e9470481

And also, if you have any questions, please feel free to send an email to pomeloentityframeworkcoremysql@service.microsoft.c

[2017-05-03 08:42] ErikSchierboom opened #268 "Bulk inserts don't use INSERT INTO VALUES (...) format"
### Steps to reproduce

Create a simple DbContext and add three records in a single SaveChanges call:

[code]

I have created a Gist [here](https://gist.github.com/ErikSchierboom/cf3f73740b6e088f2fb6e35fef32675f).

### The issue

As the SaveChanges call only has to deal with inserting values, I would expect the values to be inserted using the INSERT INTO .. VALUES (...) syntax. However, the record

[2017-05-03 10:52] caleblloyd commented on #268
You need to specify MaxBatchSize when you configure the provider. Example:

https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/master/test/Pomelo.EntityFrameworkCore.MySql.PerfTests/AppDb.cs#L61

You are correct to not include an auto increment ID. Auto increment​ IDs will not use batching because each ID must be queried as it is inserted.

[2017-05-03 11:04] ErikSchierboom commented on #268
Thanks for the heads-up! Works perfectly.

[2017-05-03 11:04] #268 closed

[2017-05-03 13:35] ErikSchierboom opened #269 "Support GroupBy"
### Steps to reproduce

Use the `GroupBy` extension method in a query:

[code]

### The issue

The `GroupBy` extension method is not properly recognized and gives the following warning:
[code]

I would expect the `GroupBy` method to be supported and translated to a MySQL GROUP BY query.

### Further technical details

MySQL version: 10.1 (MariaDB)
Operating system: Windows
Pomelo.EntityFrameworkCo

[2017-05-03 15:30] pkiers commented on #36
@Kagamine I will pick this one up, we need it for our project.

[2017-05-03 16:21] mguinness commented on #269
See [EF Roadmap](https://github.com/aspnet/EntityFramework/wiki/Roadmap#critical-orm-features) and https://github.com/aspnet/EntityFramework/issues/2341.

[2017-05-03 17:50] ErikSchierboom commented on #269
@mguinness Thanks for the link. I wasn't aware of that.

[2017-05-03 17:50] #269 closed

[2017-05-03 19:46] pkiers commented on #266
Somehow after the login the page just ends up in some refresh loop.

[2017-05-05 19:33] jemiller0 commented on #262
Sorry for not replying to this sooner. I just did a test. I used the latest MySqlConnector for both tests.

`<package id="MySqlConnector" version="0.19.2" targetFramework="net47" />`

With  `<package id="Pomelo.EntityFrameworkCore.MySql" version="1.1.0" targetFramework="net47" />` I get 370.4 MB.

With `<package id="Pomelo.EntityFrameworkCore.MySql" version="1.1.2-preview-10038" targetFramework="n

[2017-05-05 19:37] jemiller0 commented on #262
Not as bad as before though. It actually works now, although it's using an extra 2 GB RAM.

[2017-05-05 20:00] caleblloyd commented on #262
Buffering the entire result set will naturally consume more memory, because we read all MySqlConnector row objects into memory upfront now.  I don't think this is a "leak" anymore, it is just what happens when you buffer millions of MySqlConnector rows.

Using an ORM for huge data operations like this is generally a bad idea.  I'm glad that you did to find the initial memory leak, but this is not

[2017-05-05 20:29] jemiller0 commented on #262
Note, I'm selecting around 8 million INT values doing a projection. I'm not querying for entire entities. I just tried the same query with the latest SQL Server provider and it uses 371.9 MB, almost identical to what I get with the Pomelo 1.1.0 provider. If I enable `options.EnableRetryOnFailure()` on the SQL Server provider, it uses 1,070.7 MB. I learned that enabling retry on failure with the SQ

[2017-05-05 20:35] jemiller0 commented on #262
I just tested it with the latest PostgreSQL EF Core provider. 373.6 MB on that.

[2017-05-05 21:58] caleblloyd commented on #262
We use buffering to get around the fact that MySQL does not support Multiple Active Result Sets. SQL Server can use less memory because it supports keeping multiple result sets open on a single connection and therefore does not have to buffer them.

If we switch back to the behavior pre-buffering, we would have to add back in the complicated locking hacks to ensure that an entire result set was re

[2017-05-06 21:31] caleblloyd commented on #126
I built a new concurrency benchmark that I believe does a better job at exhibiting the benefits of this library.  I could not get it to work with `MySql.Data.EntityFrameworkCore` because there were exceptions when trying to run the code.  I did get it working with `SapientGuardian.EntityFrameworkCore.MySql` however, which uses a modified version of `MySql.Data` underneath and does not implement tr

[2017-05-08 12:04] chrisofe opened #271 "Context migrate database error on v1.1.2"
### Steps to reproduce
var connection = new MySqlConnection(connectionStringBuilder.ToString());
var optionsBuilder = new DbContextOptionsBuilder();
optionsBuilder.UseMySql(connection);
var model = new TheContext(optionsBuilder.Options);
model.Database.Migrate();

### The issue
Upgrading Pomelo.EntityFrameworkCore.MySql from 1.1.0 to 1.1.2 now causes the model.Database.Migrate() function to error

[2017-05-08 14:28] YandyZaldivar commented on #126
In ASP.NET Core EF DbContext objects use a scope approach, meaning a new DbContext object is created and disposed per request. Would it be practical with Pomelo to use a singleton approach associating every DbContext object to a connection? In this case with 1000 clients we will have 1000 open db connections but because requests are scheduled to use an appropriate number of concurrent threads the

[2017-05-08 15:00] caleblloyd commented on #126
@YandyZaldivar scoped DbContext is fine.  The underlying DbConnection is only opened when a query is being executed and then it is closed when the query is done executing.  1000 DbContexts does not mean 1000 open connections since a connection is only used for the short life of the query.  Scoped ensures the proper tracking when loading and saving entities.  Scoped also ensures that the DbContext

[2017-05-08 18:55] YandyZaldivar commented on #126
@caleblloyd Thank you for the precise answer, I have another doubt. If the same user makes various requests it is not a good thing to keep tracking the entities to avoid extra queries to the database. As I see it right now the scoped DbContext only track entities for a single request, new requests start with an empty cache (new DbContext). Wouldn't be it better to reuse the same DbContext for more

[2017-05-08 23:37] caleblloyd commented on #126
@YandyZaldivar yes, you can shard DbContext to handle one set of entities and use it from request to request.  You are talking about sharing on a User key.  Keep in mind that the user and all of the user data you load in the sharded DbContext should not be written by another DbContext, otherwise you will have stale data.  You must also implement Read/Write locking on access to data in that DbConte

[2017-05-09 01:39] spmorgan commented on #263
Did you ever solve this problem?  I'm having the same issue but on mac.

[2017-05-09 09:31] drakoumel commented on #245
Any updates on this?

[2017-05-09 11:04] Kagamine commented on #245
The things which you provided is not enough to reproduce your issue, please make a minimum reproduce program will help us to know which causes this exception.

[2017-05-09 12:25] ydekova commented on #263
Nope. I changed my model manually for now. I hope we can get more information on this soon.

[2017-05-09 16:50] YandyZaldivar commented on #126
@caleblloyd thanks again, great explanation. In my server I process user requests simultaneously, but requests from a single user are queued and processed sequentially, because of that behavior I am assuming a thread safe usage of the DbContext and no need for locks (I ensure the DbContext is used only by the same user session and by a single thread at a time).

[2017-05-09 22:13] dls314 opened #272 "Can't run dotnet ef migrations add w/o database available"
### Steps to reproduce

Try to add migrations to a project using the dotnet ef migrations add command line tooling. The target project should have an IDbContextFactory<T> implementation. There should _not_ be a real connection string, i.e. there's no database.

### The issue

This doesn't work for the Pomelo MySQL database provider (error below). This does work for some EF database providers (SQL,

[2017-05-10 15:25] chaddoncooper opened #273 "Unable to use a string as a PK"
Trying to connect to an existing (badly designed) database which uses a string for a primary key on the Users table, called username.

User Class
[code]

Configuration File
[code]

[code]
Produces System.InvalidCastException: 'Unable to cast object of type 'System.String' to type 'System.Int32'.'

I'm not able to re-engineer the database, I'm simply making a migration tool, would really like use E

[2017-05-11 05:55] bgrainger commented on #181
Now that Azure Database for MySQL is available globally, I've been able to reproduce this issue and [report it in the MSDN forums](https://social.msdn.microsoft.com/Forums/en-US/adb35274-2f20-4968-8026-49a8d7ade1f0/comchangeuser-command-not-supported?forum=AzureDatabaseforMySQL).

[2017-05-11 05:59] Kagamine commented on #181
Yes, I am the member of that team.

[2017-05-11 06:15] bgrainger commented on #181
Yes, I just did about an hour ago (against a Azure Database for MySQL 5.7 instance in US West). With `Pooling=True;Connection Reset=True` in the connection string, I got an "Access denied" exception from both MySql.Data (Connector/NET) and MySqlConnector when reusing a connection from the pool.

I'd be happy to connect with someone offline and send packet captures or debug changes to the client. (

[2017-05-11 06:26] Kagamine commented on #181
Hi @bgrainger. Could you provided the results of your investigation and contact to xiangyhu@microsoft.com, Xiangyu will help you to fix this issue. Please remove the email address after you have read.

[2017-05-11 06:31] Kagamine commented on #181
I will take photos for you.

[2017-05-11 06:31] bgrainger commented on #181
@Kagamine I will contact Xiangyu with more details in the next few days.

[2017-05-11 06:32] Kagamine commented on #181
@bgrainger Thanks.

[2017-05-11 13:20] JanBN commented on #249
Unfortunately this does not work. Is there a way how to see generated SQL command which fail ?
this is the error I get:

[2017-05-11 16:38] AndyC5 opened #274 "DateTimeOffset using Sql Server Specific Fluent Api Configuration"
**Issue**
The issue appears to be because of the Fluent API mapping for the property. I am working on a system which will end up supporting both Microsoft Sql Server and MySql. The mapping for the property looks like this:

[code]

Right now I am using Database.EnsureCreated(); to create the database for development. When targeting the MySql provider, the database is generated with the default val

[2017-05-15 12:51] deepak-khopade-isdr opened #275 "Specifying ".IsUnique(false);" is still adding "unique: true" in migrations on EFCore 7 + Linux with MySql"
Specifying `.IsUnique(false);` in fluent API to avoid unique index and just to have a normal BTREE index, but still, it's adding `unique: true` in migrations on EFCore 7 on Linux with MySql.

EF Core version: 1.1.1
Database Provider: Pomelo.EntityFrameworkCore.MySql/1.1.1
Operating system: Ubuntu 16.04
IDE: JetBrains Rider and VS CODE

[2017-05-15 12:52] deepak-khopade-isdr opened #276 "Fluent API method .HasConstraintName<entity, relatedEntity>("FK_name") is not creating the name specified"
When added in Fluent API `.HasConstraintName<entity, relatedEntity>("FK_name")` is not creating the name specified and just creating the default name by its own.

If you are referring a single columned PK then its just working fine, but if you are referring a Composite PK with more than one column, it's just not creating the name specified and rather creating default one.

NOTE: the reason I want

[2017-05-15 21:23] bgrainger commented on #274
From [MySQL documentation](https://dev.mysql.com/doc/refman/5.7/en/datetime.html):

`DateTimeOffset.MinValue` is out-of-range of MySQL's limits.

I don't know if the right answer here is to fix MySqlConnector's mapping of out-of-range `DateTimeOffset` values (map them to what?) or for the database client to use valid (for MySQL) data, e.g., `.HasDefaultValue(new DateTimeOffset(new DateTime(1000, 1

[2017-05-15 21:31] bgrainger commented on #274
Well, despite what the documentation says, MySQL 5.7.18 appears to accept `0001-01-01 00:00:00` as a valid date time value, and inserting `DateTimeOffset.MinValue` works with the latest MySqlConnector library.

There must be something else going on because MySqlConnector does not serialize `DateTimeOffset` with the time zone ([code](https://github.com/mysql-net/MySqlConnector/blob/d6639af0b940a0ab

[2017-05-15 21:47] deepak-khopade-isdr commented on #276
I realized the problem for this one in my code. If I don't provide the PrincipalKey or InverseProperty, it would imagine and create 2-way foreign keys. So this is not an issue anymore. Thanks.

[2017-05-15 21:47] #276 closed

[2017-05-15 21:54] caleblloyd commented on #276
@deepak-khopade-isdr you should upgrade to `1.1.2`, it includes a fix to significantly lower memory usage

[2017-05-15 21:57] deepak-khopade-isdr commented on #276
@caleblloyd : thanks for your response and a suggestion here; would surely upgrade to 1.1.2.

[2017-05-16 14:13] hugosmarques opened #277 "Cast error"
When i run:

dotnet ef dbcontext scaffold "Host=xxx.xxx.xxx.xxx;Port=3307;Database=xxxxxxxx;Username=xxxxx;Password=xxxxxxxxx" ^ Pomelo.EntityFrameworkCore.MySql ^ --force ^ --context "FooContext" ^ --output-dir "Entities" ^ --verbose

Get this error

System.InvalidCastException: Unable to cast object of type 'Microsoft.EntityFrameworkCore.Scaffolding.Internal.MySqlDesignTimeServices' to type 'Mic

[2017-05-18 08:03] blackbird91 commented on #256
I have the same problem and I think that the issue is related to the fact that the migration is automatically commited to database after running the "add-migration" command without updating the "EFMigrationHistory" table. When you try to run the "update-database" command you will have the error that you've mentioned above because the table actually really exists in the database

[2017-05-19 04:32] HongyanShen opened #278 "if (dto.JsonObject == null) throws NullReferenceException when dto is not null"
And there are values stored in the jsonobject.the jsonobject is of type JsonObject<Dictionary<string, object>>

[2017-05-19 10:00] caleblloyd commented on #278
Please post a model and controller at the least so we can recreate

[2017-05-20 02:12] Kagamine commented on #278
Please use JsonObject.Equals instead of `==`, because we cannot reload the == operation with a null value.

[2017-05-20 07:53] HongyanShen commented on #278
@Kagamine Both dto and dto.JsonObject are not null.

[2017-05-20 09:15] Kagamine commented on #278
You should not use `==` with a JsonObject. You have to use `.Equals(null)` instead of `==`

[2017-05-20 09:18] Kagamine commented on #223
Please remove DatabaseGeneratedAttribute and KeyAttribute. The field will be auto increment automatically without that two attributes.

[2017-05-20 09:18] #223 closed

[2017-05-20 09:20] Kagamine commented on #275
Could you try to remove `.IsUnique`? Without a `IsUnique` the field value will be duplicatable.

[2017-05-20 09:23] Kagamine commented on #273
Could you post here the database creation script?

[2017-05-20 09:24] #245 closed

[2017-05-20 10:43] chikien276 commented on #223
I have noticed in my code have this

                name: "Select",
                columns: table => new
                {
                    Id = table.Column<int>(nullable: false)
                        .Annotation("MySQL:AutoIncrement", true),
                    Name = table.Column<string>(nullable: true)
                },
                constraints: table =>
                {

[2017-05-20 14:20] DMWOO7 opened #279 "dotnet ef database migrations cause "Unable to connect" exception"
**UPDATE: Found out that I had a bit of misunderstanding about the responsibility of a Dockerfile. Full networking is not avaliable when a container is build. In short, best practice seems to be apply migrations in a container, which got removed later. I want to write a bit more about this and would give later a more detailed answear.**

### Steps to reproduce
Creating a empty ASP.NET Core project

[2017-05-20 19:55] JanBN commented on #149
I have the same problem. What is strange that on another computer (at work) it works. But on my home pc it does nothing. On Monday I will try it at work again.

However I run this:
`C:\.Net Core\EFTest MySql\EFTest>dotnet ef dbcontext scaffold "Server=localhost;User Id=root;Password=;Database=bcd" "Pomelo.EntityFrameworkCore.MySql"  -o
 Mode2 --verbose` with verbose option

and this is the output:

[2017-05-20 19:59] caleblloyd commented on #279
This is most likely a network issue. Install MySQL client and get it to connect from the same environment. Tcpdump and Wireshark are your friends to debug stuff like this.

[2017-05-20 20:02] JanBN commented on #152
I have the same problem. What is strange that on another computer (at work) it works. But on my home pc it does nothing. On Monday I will try it at work again.

However I run this:
`C:\.Net Core\EFTest MySql\EFTest>dotnet ef dbcontext scaffold "Server=localhost;User Id=root;Password=;Database=bcd" "Pomelo.EntityFrameworkCore.MySql"  -o
 Mode2 --verbose` with verbose option

and this is the output:

[2017-05-21 09:41] JanBN commented on #152
I have installed another version of MySQL/MariaDB and it works.
It does not work for this version:

It works for this version:

Hope it helps somebody.

[2017-05-21 17:35] DMWOO7 commented on #279
Found out that I had a bit of misunderstanding about the responsibility of a Dockerfile. Full networking is not avaliable when a container is build. In short, best practice seems to be apply migrations in a container, which got removed later. This can be attached to the same network than the SQL server, so migration is possible. A quick workaround would be writing a script for the `ENTRYPOINT` tha

[2017-05-21 17:35] #279 closed

[2017-05-22 04:58] #278 closed

[2017-05-22 08:27] zuosc opened #280 "mariadb DATETIME does not support values generated"
### Steps to reproduce
dotnet run testMigrate

### The issue
Describe what is not working as expected.

If you are seeing an exception, include the full exceptions details (message and stack trace).

[code]

[2017-05-22 09:39] chaddoncooper commented on #273
This can be closed, I used the tools to generate my POCO/Mapping classes and all is well.

[2017-05-22 09:39] #273 closed

[2017-05-22 12:42] caleblloyd commented on #280
#281 fixes the datetime issue.  I still couldn't run that command because the tests have JSON types and MariaDB does not support JSON columns.  But the fix clears the datetime issue.

If you comment out all of the JSON fields in the tests, then it works.

[2017-05-22 12:44] Kagamine commented on #280
Thank you @caleblloyd.

[2017-05-22 12:44] #280 closed

[2017-05-22 12:47] zuosc commented on #280
Thank you @caleblloyd.

[2017-05-22 12:50] Kagamine opened #282 "Upgrade to 2.0.0-preview"

[2017-05-23 11:08] deepak-khopade-isdr commented on #275
Tried but no success.

[2017-05-23 11:27] deepak-khopade-isdr commented on #275
This is how I have specified my fluent API to establish named foreign-key and an index:

[code]

[2017-05-23 11:28] deepak-khopade-isdr commented on #275
and migration is creating this:

[code]

[2017-05-24 02:48] dknoodle commented on #263
I am having the same issue.  I've been going around in circles for hours on this.  Any help from the development team please?

[2017-05-25 15:47] dknoodle commented on #152
I am having the exact same issue getting to "Using data directory ..." and then it just hangs and never does anything.  I am running MySQL Community Edition 5.7.18.

Has anyone made any other progress on this?

[2017-05-25 16:23] dknoodle commented on #152
After reading DanBN's comments about the different Database versions resolving the issues I imported the DB into an Azure MySQL database.  This pushed me past the hang at "Using data directory..." but now I am getting an object reference error:

System.NullReferenceException: Object reference not set to an instance of an object.
   at MySql.Data.MySqlClient.MySqlConnection.CloseDatabase()
   at My

[2017-05-25 16:41] caleblloyd commented on #152
@dknoodle are you using Pomelo 1.1.2?

[2017-05-25 16:49] dknoodle commented on #152
@caleblloyd - Yes I am.

<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
    <TargetFramework>netcoreapp1.1</TargetFramework>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Microsoft.EntityFrameworkCore.Design" Version="1.1.2" />
    <PackageReference Include="Microsoft.EntityFrameworkCore.SqlServer" Version="1.1.2" />
    <PackageReference Include="Microsoft.EntityFramework

[2017-05-25 19:19] dknoodle commented on #152
@caleblloyd - I'm pulling this apart one step at a time.  I pulled in the Pomelo.EntityFrameworkCore.MySql source code into the project and it gave me an Access Denied error.  I found the parameter names I needed for user/pass were incorrect.

In some of my testing I accidentally ran it with a blank database and it created the DbContext class and ran without issue.  The DB I am trying to model tho

[2017-05-25 19:53] dknoodle commented on #152
@caleblloyd - Looks like it may actually be working and running.  I used Sysinternals Process Monitor to watch all the network traffic and I can see connections starting and stopping to the DB server.  I let it run over night last night and it never finished so I will go ahead and let it run for a few hours again.

Perhaps this is a limitation of Entity Framework Scaffold but is there any way to g

[2017-05-25 23:06] dknoodle commented on #152
Looks like some data type mappings are missing.  It finished much sooner than I expected (still took 4+ hours) but missed mapping date and timestamp columns on all the tables.  It spit out over 1,200 lines of errors, primary for timestamp and date.  Looking deeper at the data types in the DB and the models created it's handling "datetime" correctly but not "date" or "timestamp".

1) Could not find

[2017-05-25 23:14] mguinness commented on #152
It's in the backlog for EF, see https://github.com/aspnet/EntityFramework/issues/5719.

[2017-05-26 11:01] caleblloyd commented on #152
That's much longer than I would expect, I'm curious as to what commands it was executing.  Was your latency high?

Enums are not natively supported by this library right now.  EF does not provide a mechanism to keep Enum values in-sync on the server side.  The closest you can get is to create the mapping in C# and have it backed by an `int` or `tinyint` in MySQL [example](https://github.com/Pomelo

[2017-05-26 12:35] SilverioMiranda commented on #277
You are using version 2.0. * - pre that is incompatible with version 1.1.*

[2017-05-26 12:59] hugosmarques commented on #277
and when will be available the version for .net core 2?

[2017-05-26 13:26] dknoodle commented on #152
According to my network logs, the latency was around 4-15ms.  When I was watching it the connection requests burst up to 7-15Mbps on a 75Mbps internet connection.  I don't think that was the issue.

I added Type Mappings for "date" and "timestamp" to the MySqlTypeMapper.cs class and ran it again over night.  Now I only have 10 tables with 3 different Enums to manually edit.  I can totally live wit

[2017-05-27 13:01] JanBN commented on #152
@dknoodle  could you please share your mappings ? Timestamp and date would be handy also for me.

Anyway I have run scaffold again and this time with no success. So I have installed several MariaDB/MySql servers. And it seems if there are none databases on the server, just one (maybe two), it works. If I add another db it stops on the:

I'm not sure If I'm doing something wrong because this is str

[2017-05-29 14:25] dknoodle commented on #152
@JanBN - The changes are incredibly simple to make.  I pulled in the repository source code and added three lines.

Inside Microsoft.EntityFrameworkCore.Storage.Internal.MySqlTypeMapper

Added line 51:
`private readonly RelationalTypeMapping _date6 = new RelationalTypeMapping("datetime(6)", typeof(DateTime), DbType.Date);`

Added lines 110 & 111:
[code]

This added the mapping for the timestamp an

[2017-05-30 02:09] arzzzae opened #283 "Enum Types"
What is the best way to use MySql enum data type? I am currently rewriting my old app into dotnet core and i am currently having issue scaffolding tables with enums.

### Further technical details

MySQL version: 5.7
Operating system: Win10
Pomelo.EntityFrameworkCore.MySql version: 1.1.1

[2017-05-30 16:39] mguinness commented on #283
Before creating a new issue, please search existing issues.  A quick search revealed issue https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/issues/36.

[2017-05-30 16:39] #283 closed

[2017-05-31 16:45] dcbrewster commented on #263
Still having this problem. Anyone even looking at it?

[2017-05-31 17:03] caleblloyd commented on #263
The information posted is not enough for a recreate. For scaffolding issues we need a mysqldump of the schema.

We have a scaffolding test that runs in CI so any issues outside of that we need as much info as possible.

[2017-05-31 19:27] dcbrewster commented on #263
@caleblloyd I have attached a sample database
[mySQL-TestDB.sql.txt](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/files/1042676/mySQL-TestDB.sql.txt)

As an outsider, I don't think the error message has anything to do with the structure of the DB.
Anything else, please let me know.

Thanks. Dave

Error Message:

C:\Users\Dave\Downloads>cd C:\Users\Dave\Documents\Visual Stud

[2017-05-31 22:12] caleblloyd commented on #263
I'll try to take a look at it over the next week or so. I agree that the error looks more specific to platform or configuration rather than an issue with the code or schema.

[2017-05-31 22:19] mguinness commented on #263
@dcbrewster Scaffolding worked fine against the database you had provided, see [Models.zip](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/files/1043069/Models.zip).

The following was the output from the scaffold command, those columns were ignored in output:

[code]

Below are references used in .csproj file for a fresh VS 2017 project:

[code]

P.S. It appears that you hav

[2017-06-01 18:14] dcbrewster commented on #263
@mguinness. Thanks for your help. I'm making progress but still not there.
I created the ItemGroup as suggested.
I found I also needed to create another ItemGroup:
[code]

Problem now is the dotnet ef command always hangs. Restore and dotnet command results below. Any suggestions?

Dave

Executed a restore, worked fine:
`C:\Users\Dave\Documents\Visual Studio 2017\Projects\Football\FootballDataMode

[2017-06-01 23:48] mguinness commented on #263
@caleblloyd I noticed something odd when running a packet capture during a scaffold.  Two connections are opened to MySQL.  The first interrogates the database schema, but afterwards another connection is created which doesn't appear to do anything.  Can you shed any light why the latter connection occurs?

[2017-06-02 00:40] caleblloyd commented on #263
I couldn't know for sure without adding some logging in the codebase, but it's possible that it is the version detection connection that determines server capabilities from here: https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/master/src/Pomelo.EntityFrameworkCore.MySql/Storage/Internal/MySqlConnectionSettings.cs#L38

[2017-06-02 06:42] Cherrs opened #284 "dbcontext scaffold 无法处理枚举类型"
Could not find type mapping for column 'test' with data type 'enum('pending','failed','verified','destroyed')'. Skipping column.

MySQL version: 5.7
Operating system: ubuntu16.04
Pomelo.EntityFrameworkCore.MySql version:1.1.2

[2017-06-02 07:44] Kagamine commented on #284
Pomelo treat enum(CLR type) as a integer(DB type). Please modify your column into integer before scaffolding.

[2017-06-02 07:44] #284 closed

[2017-06-02 18:22] mguinness commented on #263
@dcbrewster Can you try running your scaffold again.  If it appears to have hung, say after 5 mins, can you try to stop the MySQL daemon and see if the scaffold completes?

[2017-06-02 19:00] dcbrewster commented on #263
@mguinness
Ran test as requested.
scaffold immediately exited with "MySqlSession is not connected."
The "Models" sub-directory was not created.
I reran test again with "Models" sub-directory already created - same results.

C:\Dave\Downloads>cd C:\Users\Dave\Documents\Visual Studio 2017\Projects\Football\FootballDataModel

C:\Users\Dave\Documents\Visual Studio 2017\Projects\Football\FootballDataMo

[2017-06-02 19:06] mguinness commented on #263
@dcbrewster Did you stop the MySQL daemon before running scaffold?  I meant to keep it running and if the scaffold process had not completed after 5 mins, then stop the MySQL daemon and see what the scaffold process returns.

[2017-06-02 19:32] dcbrewster commented on #263
@mguinness
Test was run as requested. Turned off mysql after 5 minutes.
Ran 15 minute test - same results.
Task manager shows 0% CPU activity on mysqld.exe process (At least I didn't see any).

[2017-06-02 20:02] dcbrewster commented on #263
@mguinness. Ran scaffold for one table (Player) and it worked.
Will process through other tables to see if I can find a problem table.

[2017-06-02 20:36] dcbrewster commented on #263
@mguinness .
Ran test scaffolding each table separately. Each completed, but those with Foreign Keys gave warning.
MySQL Workbench, changes table names to all lower case on Foreign Keys. Scaffold warn: Referenced table 'division' is not in dictionary because table name is "Division".

The warning was shown for every foreign key in every table.
Curious, but probably not source of this problem.

[2017-06-02 20:55] mguinness commented on #263
Can you try running [CodeTrack](http://www.getcodetrack.com/) profiler?  Follow [instructions](http://www.getcodetrack.com/howto_profilecore.html) to profile the scaffold process.  You will need to use manual mode as shown below:

![image](https://cloud.githubusercontent.com/assets/14002844/26744361/7712fa9c-479a-11e7-8f31-8a33724531a5.png)

On the final screen check "Trace Child Processes".  Send

[2017-06-02 20:58] dcbrewster commented on #263
Correction. One table did hang.
Original table name "Player_Pool". This links player to multiple pools. 1 to Many).
Workbench table create statement:
CREATE TABLE `player_pool` (
  `RecordID` int(11) NOT NULL AUTO_INCREMENT COMMENT 'Record ID',
  `PlayerID` int(11) NOT NULL COMMENT 'PlayerID from player table',
  `PoolID` int(11) NOT NULL COMMENT 'PoolID from pool table',
  `UserLevel` int(11) NOT

[2017-06-03 18:11] dcbrewster commented on #263
@mguinness Zipped trace file attached.

[2017-06-03 18:23] dcbrewster commented on #263
@mguinness  Zipped File attached.
[Trace.ZIP.txt](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/files/1049787/Trace.ZIP.txt)

[2017-06-04 02:46] mguinness commented on #263
Thanks, but I don't see any code from this library - did you check "Trace Child Processes"?

[2017-06-04 03:44] ensleep commented on #282
What is the progress of this issue?I think I really need it to support dotnet core 2.0.

[2017-06-04 14:01] caleblloyd commented on #282
I want to check it out but the instructions [here](https://www.microsoft.com/net/core/preview#linuxubuntu) say

[code]

I have a lot of projects that rely on 1.x. Is 2.0 backwards compatible with 1? If so I can give this a shot.

[2017-06-04 15:39] caleblloyd commented on #282
Entity Framework Core 2.0 will only target .NET Standard 2.0

https://github.com/aspnet/Announcements/issues/246

This means that in-turn, `Pomelo.EntityFrameworkCore.MySql` will only target .NET Standard 2.0 and have the same framework requirements

[2017-06-04 19:36] labiraus commented on #282
The Sapient Guardian team say that there are going to be significant issues upgrading from 1.1 to 2.0.
How doable do you think this is going to be?
https://github.com/SapientGuardian/SapientGuardian.EntityFrameworkCore.MySql/issues/56

[2017-06-04 19:48] caleblloyd commented on #282
@labiraus it's doable.  I'll have a better timeline in a day or two, I'm going to start taking an initial look at this now.

We'll have a 2.0.0 RTM a couple weeks after upstream entity framework does.  I'd like to get a preview out on nuget within a couple weeks.

[2017-06-04 20:46] dcbrewster commented on #263
@mguinness  I checked the session parameters, and yes Trace Child Processes was turned on. As far as I could see, Codetrack only shows 4 instances of dotnet and they seem to stall right away.

[2017-06-04 21:53] caleblloyd commented on #282
So it is going to be a fair amount of work to update to `2.0.0-preview`.  Off the bat I see a few namespaces with a lot of changes:

- `Extensions`
- `Storage/Internal`
- `Scaffolding`

I don't think it's worth starting work until `aspnet/entityframework` publishes `2.0.0-preview2`.  There have been a couple heavy BC breaking changes between `2.0.0-preview1` and `2.0.0-preview2`:

- Dissolve `Rela

[2017-06-05 00:43] Cherrs commented on #284
数据库是设计好的，不能改。。
现在是使用string来解决这个问题的

[2017-06-05 14:33] enchev opened #285 "Unable to cast object of type 'System.Boolean' to type 'System.Byte'"
### Steps to reproduce
Hey folks,

I'm trying to map the relationship between Customer and Store in [Sakila Sample Database](https://dev.mysql.com/doc/sakila/en/sakila-installation.html) however I'm receiving invalid cast exception.  store_id is tinyint(3) in both Customer and Store tables.

### The code:

#### Customer.cs
[code]
#### Store.cs
[code]

### The issue
[code]

### Further technical de

[2017-06-05 15:58] caleblloyd commented on #285
Try setting `TreatTinyAsBoolean=false` in your connection string

https://mysql-net.github.io/MySqlConnector/connection-options/

[2017-06-05 17:04] enchev commented on #285
Thanks @caleblloyd!

The exception is different now:
[code]

If I change **store_id** property type in both **Customer** and **Store** classes to **SByte** the result will be another exception:
[code]

[2017-06-05 17:10] caleblloyd commented on #285
That's because `tinyint(3)` is a `sbyte` if it's signed (-128 to 127).  Change your CLR type in your model to `sbyte`.

If what you want is an unsigned byte (0 to 255), change your MySQL type to `tinyint(3) unsigned`

[2017-06-05 17:10] #285 closed

[2017-06-05 17:17] caleblloyd commented on #285
It may be helpful for you to run [scaffolding](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql#scaffolding-tutorial) to do the initial setup of all of your models, then you can add more features to them after all of the proper types have been mapped.

[2017-06-05 17:46] mguinness commented on #263
Based on that trace, it's not even hitting Pomelo.EntityFramework.MySql so it would indicate an issue with tooling.  It also appears to be hitting [HandleUnexpectedArg](https://github.com/dotnet/cli/blob/master/src/dotnet/CommandLine/CommandLineApplication.cs#L582) which is a red flag.

[2017-06-06 00:19] caleblloyd commented on #282
I've begun work on this in a [2.0.0-wip branch on my fork](https://github.com/caleblloyd/Pomelo.EntityFrameworkCore.MySql/tree/2.0.0-wip), targeting the nightly `2.0.0-preview2-*` upstream entity framework libraries on MyGet

Once I have it compiling and tests passing locally, I'll merge it over.  Hopefully that will be in a couple weeks.

[2017-06-08 19:53] mguinness commented on #282
@caleblloyd FWIW, if you encounter issues Diego Vega at MSFT suggested these avenues for assistance:

[2017-06-09 01:42] Kagamine commented on #282
Need a 2.0.0-preview1 release

[2017-06-09 01:54] caleblloyd commented on #282
@kagamine I'm skipping straight to EF.Relational 2.0.0-preview2. Too much BC breakage between 2.0.0-preview1 and 2.0.0-preview2

[2017-06-09 02:09] Kagamine commented on #282
Ok, so how about create a dev branch and continous integrate it in MyGet?

[2017-06-09 02:12] caleblloyd commented on #282
I'm trying to get it to compile in a branch on my fork right now. Lots of changes in 2.0.0 upstream, going to take me another week or two. I'll PR it over to a dev branch once I get it to compile.  In the meantime this is the branch on my fork:

https://github.com/caleblloyd/Pomelo.EntityFrameworkCore.MySql/tree/2.0.0-wip

[2017-06-09 19:10] mguinness opened #286 "UseMySQL instead of UseMySql"
This is a minor niggle, but something I encountered early on when switching providers.  Was there a reason why the extension method was defined as UseMySql instead of UseMySQL?

https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/master/src/Pomelo.EntityFrameworkCore.MySql/Extensions/MySqlDbContextOptionsExtensions.cs

I think it should be consistent with the other providers.

[2017-06-09 19:21] caleblloyd commented on #286
The entire project uses the case scheme for `MySql`.  I don't think the spelling `MySQL` appears anywhere in our source (except for dependencies)

The proper way to use it is documented for our library.  There's already >260 stars on GitHub and changing it in V2 would be confusing to our users.

We could add an alias but I also think that would be confusing.  My vote is to leave it.

[2017-06-09 19:34] mguinness commented on #286
The UseMySql extension method for option builder is currently in [seven files](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/search?utf8=✓&q=UseMySql), but I understand reluctance to change it for the aforementioned reasons.  As you said, an alias is another option.

The only reason I bring this up is that I'm using a third party model designer tool that generates a context

[2017-06-09 19:58] caleblloyd commented on #286
The refactor isn't what concerns me, it's the BC break.

Is it a popular tool?  An alias wouldn't be bad, it just might make people think "which one do I use?" when in reality they're the same thing

[2017-06-09 20:25] mguinness commented on #286
The tool is [Entity Developer](https://www.devart.com/entitydeveloper/), but I don't know how widespread it's use is.  An alias could be confusing, but I guess you could mark the other as deprecated using System.Obsolete attribute.

[2017-06-09 23:41] Kagamine commented on #286
I dont agree change UseMySql into UseMySQL, maybe you should open an issue on the tool repo.

[2017-06-10 04:04] mguinness commented on #286
@Kagamine Fair enough.  A workaround is for me to alias those extension methods myself which achieves the same result.

[code]

[2017-06-10 04:25] #286 closed

[2017-06-10 23:21] caleblloyd opened #287 "2.0.0 Unit Tests update"
Lots has changed in upstream 2.0.0.  The `dev` branch now tracks `2.0.0-preview3-*` from aspnet/EntityFramework's MyGet feed.

I have updated the Unit Test code, but there is some failures that need to be investigated and fixed:

[code]

Specifically one thing that has changed is the way to mark properties for value generated on add/update, so I had to comment out all lines in the test that look l

[2017-06-10 23:22] caleblloyd opened #288 "2.0.0 Functional Tests update"
Lots has changed in upstream 2.0.0.  The `dev` branch now tracks `2.0.0-preview3-*` from aspnet/EntityFramework's MyGet feed.

Functional tests have stopped working because migrations do not work.

Investigate cause of migration failures and get all functional tests working.

[2017-06-10 23:26] caleblloyd opened #289 "2.0.0 Scaffolding updates"
Lots has changed in upstream 2.0.0. The `dev` branch now tracks 2.0.0-preview3-* from aspnet/EntityFramework's MyGet feed.

The `Pomelo.EntityFrameworkCore.MySql.Design` project has been dissolved into `Pomelo.EntityFrameworkCore.MySql` as part of the 2.0.0 upgrade.

Scaffolding related files have been moved to these directories:

[code]

All scaffolding related code has been commented-out in orde

[2017-06-11 15:04] caleblloyd commented on #288
`dotnet ef migrations add initial` is failing to map `JsonObject<>` properties.  Opened upstream https://github.com/aspnet/EntityFramework/issues/8814

[2017-06-11 17:27] smitpatel commented on #288
This call is bit ambiguous

https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/master/src/Pomelo.EntityFrameworkCore.MySql/Storage/Internal/MySqlTypeMapper.cs#L251

It is possible that it worked in previous versions of netstandard but not allowed in netstandard2.0 anymore.

The `PropertyMappingValidationConvention` comes through this path only. Make sure that `FindMapping` f

[2017-06-11 23:06] caleblloyd commented on #288
@smitpatel thanks for pointing that line out,  I had erroneously removed it in the 2.0.0 migration.  Adding it back fixed the issue

[2017-06-11 23:11] caleblloyd commented on #288
Running into a problem with DI Resolving `IDBContextOptions`.  Asked for help upstream at https://github.com/aspnet/EntityFramework/issues/8818

[2017-06-12 11:11] denDAY04 commented on #279
@DMWOO7 Do you have any further information on this issue, e.g. links to where you came to your conclusions? I'm stuck in a similar problem with my current project, wherein I also get this error, with the same framework, when I try scaffolding migrations through the dotnet CLI.

[2017-06-12 15:32] CoderProject opened #290 "ToList() in ToList() generates multiple queries"
### Steps to reproduce

Models
[code]

### The issue
When running the following query,  it takes a lot of time to get the answer lists because a separated query is running for each question, it doesn't get translated to a single query ,

[code]
(packetId = "some other queries" part is not necessary to repro but I'm trying to show that I need a new object for sure)

This was working fine in ef6 + m

[2017-06-12 15:35] caleblloyd commented on #290
You should use Eager Loading with `include`

https://docs.microsoft.com/en-us/ef/core/querying/related-data#eager-loading

[2017-06-12 15:40] CoderProject commented on #290
Isn't `Include` an optional way to return navigation fields. Is it obligatory in this case?

[2017-06-12 15:44] caleblloyd commented on #290
It's the recommended way to Eager load in EF Core. I haven't seen the way in your code done in any of the samples.

You can log queries with `Microsoft: Information` and do a comparison on the generated queries

[2017-06-12 15:45] CoderProject commented on #290
Also this query can't be done with include, this example I'm getting answer count for each question for each packet, it produces the same problem:
[code]

[2017-06-12 15:53] caleblloyd commented on #290
Not sure how to accomplish that with EF Core. It may be possible. Or you could just use normal SQL queries.

Stack Overflow would be a better place for usage questions though.

[2017-06-12 15:53] #290 closed

[2017-06-13 09:02] denDAY04 opened #291 "dotnet ef migrations add <name> fails in docker container"
### Steps to reproduce
Create .NET Core 1.1 web application with EFCore integration to MySql database. The app is contained in one docker service, and the MySql databse in another.

docker-compose.yml content:
[code]

Dockerfile content:

[code]

docker-compose.ci.build.yml content:
[code]

I have tried both having Startup#ConfigureServices(IServiceCollection) include
[code]
where appsettings.json

[2017-06-13 10:24] caleblloyd commented on #291
Add `host=mysql` to your connection string.

[2017-06-13 10:24] #291 closed

[2017-06-13 10:33] caleblloyd commented on #291
Check it out:

Compose file: https://github.com/caleblloyd/dotnet-core-boilerplate/blob/develop/docker-compose.yml

Connection string from Docker Container: https://github.com/caleblloyd/dotnet-core-boilerplate/blob/develop/dotnet/src/App/Common/Config/config.dev.json

Connection string from host: https://github.com/caleblloyd/dotnet-core-boilerplate/blob/develop/dotnet/src/App/Common/Config/confi

[2017-06-13 11:27] denDAY04 commented on #291
Thank you for the reference repo. I've tried looking around in it a mirror a few things, but I'm still unsure how I'm supposed to solve the problem; or more specifically, how/where I can run the dotnet ef command to generate a migration class based on the mysql db wrapped in one of the docker containers. Changing the host in the connectionstring to localhost results in a similar exception at run-t

[2017-06-13 11:51] caleblloyd commented on #291
Are you running the `dotnet ef` commands from your host, or from the `coreapp` container?

[2017-06-13 12:07] denDAY04 commented on #291
From the host (cmd in windows directory). I'm not sure how I would run it in the container.

[2017-06-13 13:54] caleblloyd commented on #291
The host network cannot access the docker network.  The docker network is for container-to-container communication only.  You need 2 different connection strings: one for `host <-> container` and one for `container <-> container`

Here's an example:

[code]

Then for your connection strings:

[code]

[2017-06-13 14:34] denDAY04 commented on #291
Thank you, that ended up fixing it.

Sorry that it took a bit of explaining on your part, but now I get how the problem is addressed. 👍

[2017-06-13 17:48] DMWOO7 commented on #279
Your Dockerfile runs in the _build context_. No networking is avaliable here, since it's designed to install the app and their dependencies. Docker is not designed to do things here, that require network access to special other containers like database or caching servers. So as I said you have two ways to solve this:

1. Apply your migration before the application starts: That's a quick fix and it

[2017-06-13 18:05] mguinness commented on #64
Please note that you need to use EnableSensitiveDataLogging() to see actual parameter values when configuring the context.

[2017-06-13 18:09] mguinness commented on #263
Unable to reproduce therefore closing issue.

[2017-06-13 18:09] #263 closed

[2017-06-16 02:05] 303248153 opened #292 "Migration failure cause some of the change remains"
### Steps to reproduce
[EFCORETEST.zip](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/files/1079541/EFCORETEST.zip)

**create first migration**
dotnet ef migrations add firstMigration

**apply first migration**
dotnet ef database update

**add field 'Test' in table 'blogs' manually**

**uncomment field 'Test' under 'Blog' and 'Post' class**

**create second migration**
dotne

[2017-06-16 16:18] Kagamine commented on #287
@caleblloyd why removed annotations from Metadata/Internal/MySqlAnnotationNames.cs?

[2017-06-16 16:39] caleblloyd commented on #287
@Kagamine I don't remember, it may have been a mistake. If they were needed feel free to add them back

[2017-06-16 17:03] Kagamine commented on #287
@caleblloyd Does ef core 2.0.0 support value generate on update? I've viewed npgsql and sqlserver source, and not found anything about `ON UPDATE`

[2017-06-16 17:06] caleblloyd commented on #287
I'm pretty sure that it does somehow, although it looked to me like they changed the way it was done.

Maybe just comment out the ON UPDATE tests for now until we can get 2.0.0 working and then we can add them back

[2017-06-17 13:43] Kagamine commented on #288
Could you add EFCore, EFCore.Relational into dev branch for debugging, I've tried to add them but cannot hit the break point.

[2017-06-17 13:47] caleblloyd commented on #288
Let me try the suggestions in https://github.com/aspnet/EntityFramework/issues/8818 first and see if I can get it working.  I need a few days before I can dig into it

[2017-06-18 05:00] Kagamine commented on #288
Hi @caleblloyd, could you give me the myget owner permission. Now we have another project `RedisConnector` with full async implements and based on libuv.

[2017-06-19 19:39] caleblloyd commented on #288
@Kagamine I'm not sure how to do that, I don't know if I have owner permission on MyGet.  Don't you already have owner permissions on there?

[2017-06-19 23:51] Kagamine commented on #288
I have transfered the ownership by mistake prrvious

[2017-06-19 23:57] caleblloyd commented on #288
Ah MyGet only allows 1 owner.  I transferred it back to you.

[2017-06-19 23:58] Kagamine commented on #288
thx

[2017-06-20 11:29] knocte opened #294 "Failed to find or load the registered .Net Framework Data Provider."
### Steps to reproduce
Change already working EF program to start using Pomelo library.

### The issue
In the Readme it's not explained how to add a provider in the config file, so I didn't add anything (hoping that it would somehow be able to find it at runtime). However, this is not the case.

[code]

### Further technical details

MySQL version: 5.7.1
Operating system: Windows2012
Pomelo.Entity

[2017-06-20 11:34] knocte commented on #294
The previous configuration had:

[code]

[2017-06-20 11:39] caleblloyd commented on #294
EF Core is different. You must do the Configuration in your code. Add this method to your DbContext:

[code]

[2017-06-20 11:41] caleblloyd commented on #294
Here's the official docs. Configure pomelo with `UseMySql` instead of `UseSqlServer`

https://docs.microsoft.com/en-us/ef/core/

[2017-06-20 11:51] knocte commented on #294
I'm not using .NET Core. I've read this is compatible with .NET 4.5.x

[2017-06-20 11:53] caleblloyd commented on #294
It is compatible with `net451` and up. Still this is EFCore, not the same thing as EF6 that you are coming from. It's not a drop in replacement.

https://docs.microsoft.com/en-us/ef/efcore-and-ef6/

[2017-06-20 12:01] knocte commented on #294
Oh, wait, what? EF Core is 4.5.x compatible? what a naming fuckup... :facepalm: thanks

[2017-06-20 12:01] #294 closed

[2017-06-20 12:14] caleblloyd commented on #294
Yup it targets `netstandard1.3` and `net451`

EFCore v2 will target `netstandard2.0` and will work with `net461` and up as well as .net core 2.

Yes there are only so many combinations of "net" "core" "framework" and "asp" and Microsoft has used almost all of them :smile:

[2017-06-20 17:13] mguinness commented on #294
@knocte Instead of overriding OnConfiguring, you can also use [AddDbContext](https://docs.microsoft.com/en-us/ef/core/miscellaneous/configuring-dbcontext#using-dbcontext-with-dependency-injection) shown below and inject it into your DbContext class using DI.

`services.AddDbContext<ApplicationDbContext>(options => options.UseMySql(Configuration.GetConnectionString("DefaultConnection")));`

`public

[2017-06-21 00:20] caleblloyd commented on #288
The `IDBContextOptions` is cleared up now.  Now I am hitting an issue with migration commands to MySql hanging.  I will need to step-through debug this.

[2017-06-21 00:38] smitpatel commented on #288
Few pointers to debug that:
- Run `dotnet ef migrations script` and verify that generated SQL is correct.
- Run context.Database.EnsureCreated to know if it is solely about tools issue or internal script execution issue.
- Run Migrate from code to mimic database update behavior.

Turn on logging to debug level and you will be able to at which point exactly it is getting stuck.

[2017-06-21 01:20] Kagamine commented on #288
Does EnsureCreated() work now?

[2017-06-21 01:22] smitpatel commented on #288
umm. It worked always from 1.0 release.

[2017-06-21 02:44] Kagamine commented on #288
@smitpatel Sorry, I should say does EnsureCreated work with pomelo 2.0

[2017-06-21 02:49] smitpatel commented on #288
I am not sure about that. Though `EnsureCreated()` has much simpler implementation compared to Migrations. It would be good first step to make that work rather than migration.
A working set of runtime components makes it easier to get design time components working.

[2017-06-21 05:41] Cassaba commented on #136
I got the error too. I generate the sql and find the next statements cause the error.
CREATE UNIQUE INDEX `RoleNameIndex` ON `AspNetRoles` (`NormalizedName`);
CREATE INDEX `EmailIndex` ON `AspNetUsers` (`NormalizedEmail`);
CREATE UNIQUE INDEX `UserNameIndex` ON `AspNetUsers` (`NormalizedUserName`);

My database character set is uft8('utf8', 'utf8_general_ci', 'UTF-8 Unicode', '3'
), I never change

[2017-06-21 18:30] mguinness commented on #136
@Cassaba Please re-read this thread, you will find that your answer is to override OnModelCreating.

[2017-06-22 14:07] davispuh opened #295 "Doesn't work with Microsoft.EntityFrameworkCore v2.0.0-preview1-final"
### Steps to reproduce

[code]

### The issue

[code]

### Further technical details

Operating system: Arch Linux
Pomelo.EntityFrameworkCore.MySql version: 1.1.2

[code]

[2017-06-22 14:13] #295 closed

[2017-06-22 14:14] Kagamine commented on #295
Pomelo 1.1.0 does not support .NET Core 2.0. Please wait until pomelo 2.0.0 release.

[2017-06-23 08:47] briziomusic opened #296 "Unable to Scaffold correctly"
### Steps to reproduce

Scaffolding command
[code]

Test Database
[code]

### The issue
Can't scaffold correctly the products and orders entities.
![image](https://user-images.githubusercontent.com/3625306/27473737-71c779b6-5800-11e7-9431-eec44aedd8c9.png)

[code]

No Products navigation was created in Orders entity.
![image](https://user-images.githubusercontent.com/3625306/27473800-a74e56a4-5800

[2017-06-23 13:34] briziomusic commented on #296
same problem with
<PackageReference Include="Pomelo.EntityFrameworkCore.MySql" Version="1.1.2" />
<PackageReference Include="Pomelo.EntityFrameworkCore.MySql.Design" Version="1.1.2" />

[2017-06-23 19:41] mguinness commented on #296
It appears that there is an issue in [GetConstraints](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/master/src/Pomelo.EntityFrameworkCore.MySql.Design/Internal/MySqlDatabaseModelFactory.cs#L210-L215) where a single FK is assumed.  Not sure when we'll be able to look at this, but if you're able to create a PR that would be welcome.

[2017-06-25 06:32] Cephei opened #297 "DefaultValue for char column type."
### Steps to reproduce
[code]

### The issue
I am unable to set a default value for a `char` column type.

[code]

### Further technical details

MySQL version: 5.6.35
Operating system: OSX
Pomelo.EntityFrameworkCore.MySql version: 1.1.2

I also noticed it generates an annotation, but was unsure if it is needed:
[code]

[2017-06-25 06:39] Cephei commented on #297
Just saw that all of my `char` column types have a size of `1`. They aren't observing the maxLength property.

[2017-06-25 07:54] #297 closed

[2017-06-26 01:28] mguinness commented on #297
See https://github.com/aspnet/EntityFramework/issues/4312

[2017-06-26 13:36] yoyos opened #298 "Specified key was too long; max key length is 767 bytes"
### Steps to reproduce

- Create new ASPNETCORE 1.1 web project in visual studio with Basic User Authentication enabled.
- Add Pomelo.EntityFrameworkCore.MySQL nuget package and change your startup.cs to use MySQL it
- Update-Database.
- Error is shown.

### The issue

It seems, the error 'Specified key was too long; max key length is 767 bytes' is occurring when Migration Tool try to create those

[2017-06-26 14:11] caleblloyd commented on #298
Duplicate of #81 and #136

Look at this code for a sample of how to fix: https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/e18175f3585969c15de3838c8d0967c9bf5e7afc/test/Pomelo.EntityFrameworkCore.MySql.PerfTests/AppDb.cs#L82-L111

[2017-06-26 14:11] #298 closed

[2017-06-26 14:50] yoyos commented on #298
Ok, didn't understand how it worked.
After changes, I need to recreate the migrations ...
Now everything works. Thanks !

[2017-06-26 18:04] maponce opened #299 "Using "Unbundled" as a mapping property"
### Steps to reproduce
Add a property named "Unbundled" in a mapped entity

`
....
`
`
public Boolean? Unbundled { get; set; }
`
`
....
`
### The issue
We are receiving a random mapping error trying to use this particular property name. if we change it, everything looks good.

Exception message: Count = error CS0103: The name 'InnerExceptionCount' does not exist in the current context

Inner excep

[2017-06-26 21:36] mguinness commented on #299
What is the database schema for that mapped entity?

[2017-06-27 13:54] maponce commented on #299
We are working with a legacy application schema, let me replicate the issue in a separate one to specifically address the problem.

[2017-06-27 16:11] fcin opened #300 "Auto increment does not work in mysql"
Setting auto increment field in entity framework does not work with mysql. I found this issue when I was trying to save a basic model with two properties:

[code]

When I wanted to save a new user to mysql database I got an exception

[code]

I tried different combinations of `[DatabaseGenerated(DatabaseGeneratedOption.Identity)]` and `[Key]`, but with no luck.

These are all of my packages:
[code

[2017-06-27 16:14] caleblloyd commented on #300
Don't even put `[DatabaseGenerated(DatabaseGeneratedOption.Identity)]` on the property.  `[Key]` should be enough.  If you call the column `Id`, it doesn't even need any annotations.  It'll get `AUTO_INCREMENT` automatically.

Example:

https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/7aecbf6fdcd7e6b38c02e0f7dd3abb61feffac17/test/Pomelo.EntityFrameworkCore.MySql.PerfTests/

[2017-06-27 16:20] caleblloyd commented on #300
If you already have rows in that table you can't just add an `AUTO_INCREMENT` column to it.  You have to add an `ID` column with a default value, then populate the values to be unique, then set the `AUTO_INCREMENT`.  I recommend you hand-code a migration to do that.

[2017-06-27 16:20] #300 closed

[2017-06-27 17:40] fcin commented on #300
The thing is I first tried doing this without `[Key]` and `[DatabaseGenerated(DatabaseGeneratedOption.Identity)]`. I later tried different combinations. I also recreated my database couple of times to see if it would help, but it didn't.

[2017-06-27 17:43] caleblloyd commented on #300
If you can recreate your database, then remove all of your migrations and generate a single migration for your initial migration.

The problem in your log above is that you are hitting errors when changing the schema.  Creating a fresh migration ensures there is no issue creating a fresh schema.

[2017-06-27 17:56] fcin commented on #300
Thank you. The problem was that recreated my database but I didn't remove my previous migrations.

[2017-06-28 21:36] JonasKlose commented on #282
I've created a little bounty for this issue as I'd very much like to try out a stable version with .net core 2.0.

https://www.bountysource.com/issues/45444603-upgrade-to-2-0-0-preview

[2017-06-29 01:23] caleblloyd commented on #282
@JonasKlose thanks. I'd like to encourage anyone who isn't already contributing to take a look at the [2.0.0 milestone](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/milestone/6)

The biggest area right now is scaffolding, which has undergone many updates and is in need of revamp: https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/issues/289

We are making

[2017-06-29 08:29] Kagamine commented on #282
Will we release a 2.0-preview2 package?

[2017-06-29 12:30] pawepaw commented on #189
I'm facing the same problem and i can't update to newest version because i have to run .NetCoreApp 1.0. Any chance to deploy fix for 1.0 version? Or any possible fixes to apply?

[2017-06-29 12:57] caleblloyd commented on #189
1.1.2 works work .NET core 1.0

[2017-06-29 13:20] Kagamine commented on #189
Please bump up your target, set netcoreapp1.1 as your build target please.

[2017-06-29 13:21] pawepaw commented on #189
Can't use 1.1 has to be 1.0.

[2017-06-29 13:35] caleblloyd commented on #288
Worked through the issue with migration commands hanging.  Now hitting a bunch of cast errors because EF Core 2.0 is calling It looks like EF 2.0.0 is calling `dbReader.GetValues` now instead of `dbReader.GetFieldValue<T>`

Upstream issue: https://github.com/aspnet/EntityFramework/issues/9013

[2017-06-29 13:51] caleblloyd commented on #189
It works fine for me:

[code]

Build:

[code]

Nothing more we can do.  I imagine you have some conflicts in your project.json / csproj.  Try upgrading your tooling and using the new csproj with `netcoreapp1.0`

[2017-06-29 14:16] pawepaw commented on #189
ok so it might be connected with aws and their support. Thanks anyway!

[2017-06-30 11:47] Kagamine commented on #288
Which vs version are you using, why I cannot get it compilable.

[2017-06-30 11:48] Kagamine commented on #288
C:\Users\Yuko\Documents\GitHub\Pomelo.EntityFrameworkCore.MySql\test\EFCore.MySql.Tests\EFCore.MySql.Tests.csproj : error NU1102: Unable to find package System.Compone
.Annotations with version (>= 4.4.0-preview3-25428-02)\r [C:\Users\Yuko\Documents\GitHub\Pomelo.EntityFrameworkCore.MySql\Pomelo.EntityFrameworkCore.MySql.sln]
C:\Users\Yuko\Documents\GitHub\Pomelo.EntityFrameworkCore.MySql\test\EFC

[2017-06-30 12:13] caleblloyd commented on #288
@Kagamine https://www.microsoft.com/net/core/preview

[2017-06-30 12:21] Kagamine commented on #288
I have already installed vs2017 preview and .net core sdk 2.0.0-prev2

[2017-06-30 17:23] smitpatel commented on #288
@Kagamine - It is package restore error. Perhaps due to corrupted local nuget cache.
run this command to clear all local caches
`dotnet nuget locals all --clear` & then run `dotnet restore`

[2017-06-30 17:45] caleblloyd commented on #288
Also I just updated all of the dependencies to `2.0.0-preview2-final` from nuget and removed the aspnet-dev MyGet repo.  This way we are building on a more stable set of packages, and can eventually release our own `2.0.0-preview2` once we get things working

[2017-07-01 02:06] Kagamine commented on #289
@caleblloyd What is the change around `MySqlScopedTypeMapper`?

[2017-07-01 02:07] caleblloyd commented on #289
Nothing it's just a Singleton now and leverages `MySqlOptions` to get server info

[2017-07-01 02:08] Kagamine commented on #289
I cannot find the class `MySqlScopedTypeMapper` in the whole sln

[2017-07-01 02:08] Kagamine commented on #289
Did you renamed the class?

[2017-07-01 02:09] caleblloyd commented on #289
Oh yes I renamed it to `MySqlSmartTypeMapper` since it is no longer scoped

[2017-07-01 02:10] Kagamine commented on #289
Since MySqlDesignTimeSmartTypeMapper inherit from MySqlSmartTypeMapper, how to invoke the base constructor now?

[2017-07-01 02:11] Kagamine commented on #289
Besides I cannot read the property `ConnectionSettings` anymore. How to process the TreatTinyIntAsBool behavior?

[2017-07-01 02:23] caleblloyd commented on #289
You must inject Singleton `MySqlOptions` and save it as a prop. Then do `_mySqlOptions.ConnectionSettings`

[2017-07-01 08:25] Kagamine commented on #282
https://www.nuget.org/packages/Pomelo.EntityFrameworkCore.MySql/2.0.0-preview2-10028-unstable

[2017-07-01 11:16] Kagamine commented on #282
@JonasKlose Please cancel the bounty. We have already published an unstable release and the stable one will come soon. Thanks for your support.

[2017-07-01 11:34] Kagamine opened #304 "Add .NET 4.6.1 back"

[2017-07-01 13:01] caleblloyd commented on #304
No need.  `netstandard2.0` is compatible with `net461` and up!

[2017-07-01 13:21] caleblloyd commented on #277
You can use the `1.1.2` line with .net core 2.

We are working on a package that tracks EF Core 2 in #282

[2017-07-01 13:21] #277 closed

[2017-07-01 13:33] #289 closed

[2017-07-01 13:33] #287 closed

[2017-07-01 13:34] Kagamine commented on #304
See the official package, it has added net461 additionally. Maybe netstandard 2.0 will use corefx but net461 will use netfx

[2017-07-01 13:44] caleblloyd commented on #304
Some of their code has conditional compile `#if NET461` flags [code search](https://github.com/aspnet/EntityFramework/search?utf8=%E2%9C%93&q=%23if+NET461&type=)

[EFCore.csproj](https://github.com/aspnet/EntityFramework/blob/dev/src/EFCore/EFCore.csproj), [EFCore.Relational.csproj](https://github.com/aspnet/EntityFramework/blob/dev/src/EFCore.Relational/EFCore.Relational.csproj), [EFCore.SqlServe

[2017-07-01 13:46] #304 closed

[2017-07-01 13:46] Kagamine commented on #304
Got it

[2017-07-01 14:07] caleblloyd commented on #288
OK everything works except for 2 `NullReferenceExceptions` I can't figure out.  Upstream issues are https://github.com/aspnet/EntityFramework/issues/9037 and https://github.com/aspnet/EntityFramework/issues/9038

[2017-07-01 14:13] caleblloyd opened #305 "2.0.0 Add EF Upstream Functional Tests for Providers"
Porting [comment](https://github.com/aspnet/EntityFramework/issues/8818#issuecomment-309074878) from @ajcvickers

We should add these tests at `test/EFCore.MySql.UpstreamFunctionalTests`

@ErikEJ and @roji do you have any recommendations or roadblocks that you encountered when putting these upstream tests in your project that would be helpful for us to know about?

[2017-07-01 14:16] caleblloyd commented on #24
Close in favor of #305

[2017-07-01 14:16] #24 closed

[2017-07-01 14:25] roji commented on #305
@caleblloyd nothing in particular to say... A good place to start might be QueryTestBase, which contains a ton of general SQL tests that should flush out any issues you have in the provider. There's a bit of infrastructure/utilities you'd have to write first (e.g. TestStore), simply follow the dependencies and compare what SqlServer/Sqlite/SqlServerCompact/Npgsql are doing.

Making the entire func

[2017-07-03 17:50] caleblloyd opened #307 "Add GitHub Team to AppVeyor"
@Kagamine could you add our GitHub development team to the AppVeyor for this project.

Here is the steps:

![appveyor](https://user-images.githubusercontent.com/2414837/27803240-8ca6a506-5ff6-11e7-8147-043c14168f56.png)

[2017-07-03 18:03] #282 closed

[2017-07-03 18:24] #299 closed

[2017-07-03 18:33] caleblloyd commented on #282
The first 2.0.0-preview2 has been released at [2.0.0-preview2-10043](https://www.nuget.org/packages/Pomelo.EntityFrameworkCore.MySql/2.0.0-preview2-10043)

Please use build tag `2.0.0-preview2-*` or `2.0.0-*` to get new updates.

It should be a straightforward update from 1.x.  You need to NetStandard 2.0 support, you can get that at the [.NET Core 2.0 Preview](https://www.microsoft.com/net/core/p

[2017-07-04 00:41] Kagamine commented on #307
Done

[2017-07-04 00:41] #307 closed

[2017-07-04 00:46] Kagamine commented on #292
@caleblloyd Could you please investigate this issue?

[2017-07-04 01:18] caleblloyd commented on #292
Unfortunately DDL statements in MySQL cannot be rolled back. I don't believe there's anything we can do. If somebody else knows of a way though please post here.

https://dev.mysql.com/doc/refman/5.7/en/cannot-roll-back.html

[2017-07-04 01:49] #292 closed

[2017-07-05 10:01] Kagamine opened #308 "datetime default value invalid cast"
Repro:
[ConsoleApp1.zip](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/files/1124237/ConsoleApp1.zip)

[2017-07-05 12:58] #308 closed

[2017-07-05 16:10] gingters opened #310 "Scaffolding stops early and hangs"
### Steps to reproduce
I want to update my ef core model on my local dev database. I'm issuing this command:

`dotnet ef dbcontext scaffold "server=localhost;database=ruinsdb_dev;user id=ruinsdb;password=ruinsdb;" "Pomelo.EntityFrameworkCore.MySql" --context RuinsContext --output-dir DatabaseModels --force -verbose`

The database structure for the database I want to re-engineer to a db model is at

[2017-07-05 17:54] mguinness commented on #310
This could be an issue with platform, tooling or config and therefore difficult to repo.  You could try using the general [query log](https://dev.mysql.com/doc/refman/5.7/en/query-log.html) to see if any statements from the scaffold are being executed.  If you don't, then try using the [CodeTrack](http://www.getcodetrack.com/) profiler to try to see where the process is stalling which was used in

[2017-07-05 19:38] gingters commented on #310
No statements are being executed.
Here I attached the codetrack trace file: [79117e2346c84fe1a6281e1e0b50d82e.zip](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/files/1125821/79117e2346c84fe1a6281e1e0b50d82e.zip)

I am afraid I don't really understand whats (or whats not) happenening there.

[2017-07-05 20:35] mguinness commented on #310
One of the first things the library does when scaffolding is to run `SHOW FULL TABLES` against the database so no SQL activity shows it's stalling early.

Your trace is showing no methods, can you select Tracing instead of Sampling profiling mode?  You don't need to run it for long, say a minute after it stalls.

The only other suggestion I can make at this stage is to also use the `--table` optio

[2017-07-06 06:51] gingters commented on #310
Okay. Good news first: I started with the system table from the model above, and it worked for a single table.
I then worked my way up and added the body table (which has a relation to system), and it stalled again, immediately.

I then tried the artifact table alone, which worked again. Then I added the table codex_catgeory to the artifact table, and now it stalled again.

After that I tried mult

[2017-07-06 18:05] gingters commented on #310
Is there anything else I can provide in terms of additional info for that issue?

I looked in the repo, but I do not see a tag for the 1.1.2 release, just a 1.1.2-rtm branch that seems like being in the middle of the conversion to 2.0.

If you could point me to the commit that resulted in the 1.1.2 build, I could try and locally debug the issue, but a bit of guidance of where I should start and wh

[2017-07-06 18:45] mguinness commented on #310
I ran your schema against MySQL 5.6.27 and it worked fine, see [DatabaseModels.zip](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/files/1128893/DatabaseModels.zip).

The trace file had exceptions System.IO.FileNotFoundException & System.MissingMethodException, so I'm wondering if there is a missing assembly.  Can you provide your csproj file?

Also, would you be able to test

[2017-07-06 18:53] gingters commented on #310
Here's my .csproj:

[code]

[2017-07-06 19:05] mguinness commented on #310
The only difference I can see is I have this in my project:

`<PackageReference Include="Microsoft.EntityFrameworkCore" Version="1.1.2" />`

[2017-07-06 19:55] gingters commented on #310
@mguinness Thanks a lot for that hint regarding MySQL. I just installed MySQL side by side with my mariadb instance, and it worked there... partially.

TL:DR;
Using it on MySQL does not show a warning / error when you scaffold in a directory with an existing model, and just stalls when you omit the --force flag.
Using it on MariaDb stalls always, assumption is a difference in datetime default cons

[2017-07-06 20:32] mguinness commented on #310
@gingters Thanks for helping to troubleshoot.  I'm not able to reproduce what you see when you have an existing directory and omit the force flag.  I get "The following file(s) already exist in directory..." error shown in the console.

Also I don't believe that the SHOW CREATE TABLE output is the cause with MariaDB - IIRC you said that the scaffold isn't even hitting the query log, meaning those

[2017-07-07 01:50] xyhuanglihua opened #312 "No distinguishing Utc time and local time when the DateTime type is stored in the database"
I puting the Local time and Utc time is stored the database, with DateTimeKind method can show these two time were Local and Utc, but through the query database to get these two time, and then using the DateTimeKind method to show these two time are Unspecified.

The code is as follows：
[code]

Output results:

[code]
The code is linked as follows:
https://github.com/xyhuanglihua/EF-Core-DateTime-

[2017-07-07 01:58] caleblloyd commented on #312
This is a limitation of MySQL, it does not store time zone info in `DateTime` or any other date object.

It is best to qualify your fields such as `UtcDateTime` and `LocalDateTime` or save time zone in a separate field and recreate the full object in C#

[2017-07-07 01:58] #312 closed

[2017-07-07 01:58] Cassaba commented on #230
What about it? I've encountered is the following problem.
Could not find type mapping for column 'course_taxonomy.open_on' with data type 'date'. Skipping column.
warn: Microsoft.EntityFrameworkCore.Scaffolding.RelationalScaffoldingModelFactory[6]
      Could not find type mapping for column 'course_taxonomy.open_on' with data type 'date'. Skipping column.

Should I change all date type column to

[2017-07-07 03:30] mguinness commented on #230
Mappings are defined in [MySqlTypeMapper](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/master/src/EFCore.MySql/Storage/Internal/MySqlTypeMapper.cs) and since date isn't defined you'll need to use datetime.

[2017-07-07 03:56] Kagamine commented on #112
Close this since it was out of date.

[2017-07-07 03:56] #112 closed

[2017-07-08 05:35] #266 closed

[2017-07-09 01:47] Garyxiao opened #313 "Unable to cast object of type 'System.String' to type 'System.DateTime'"
pls help me.

`FATAL 2017-07-08 22:45:03,628 [1    ] soft.AspNetCore.Hosting.Internal.WebHost - Application startup exception
System.InvalidCastException: Unable to cast object of type 'System.String' to type 'System.DateTime'.
   at MySql.Data.MySqlClient.MySqlDataReader.GetDateTime(Int32 ordinal)
   at lambda_method(Closure , DbDataReader )
   at Microsoft.EntityFrameworkCore.Storage.Internal.Ty

[2017-07-09 01:49] caleblloyd commented on #313
Your db type is varchar or text and your C# type is DateTime or DateTimeOffset

Migrate your db type to DateTime

[2017-07-09 01:49] #313 closed

[2017-07-09 02:07] Garyxiao commented on #313
@caleblloyd Thanks a lot ,The problem is solved.

[2017-07-10 02:55] Kagamine opened #314 "Update benchmarks result"

[2017-07-10 06:39] 303248153 opened #315 "Use Property(x => x.Key).IsConcurrencyToken with guid error"
Assume I have entity type `class X { public Guid Id {get;set;} public Guid Key {get;set;} }` and I use `Property(x => x.Key).IsConcurrencyToken`, run `dotnet ef database update` will give this error:

[code]

[2017-07-10 09:31] #315 closed

[2017-07-10 09:31] Kagamine commented on #315
Could not reproduce

[2017-07-10 09:45] Kagamine opened #316 "Schedule 2.0.0-preview2-final release date"

[2017-07-10 09:51] 717009629 commented on #316
支持女神

[2017-07-10 12:26] caleblloyd opened #317 "Upgrade to MySqlConnector that Supports netstandard2.0 Before 2.0.0-RTM"
MySqlConnector will publish a `netstandard2.0` build once 2.0.0 RTM is published

We need to wait for this to get published on NuGet, then switch our dependencies to use it before we publish our 2.0.0 package.

Here is the tracking issue: https://github.com/mysql-net/MySqlConnector/issues/270

[2017-07-10 13:16] Kagamine commented on #271
Is there any migration breaking changes between 1.1.0 and 1.1.2? @caleblloyd

[2017-07-10 13:16] #274 closed

[2017-07-10 13:18] Kagamine commented on #272
In 1.1.2, some fields generation depends on the target server version, so it will try to connect the specified server to get a version.

[2017-07-10 13:18] #261 closed

[2017-07-10 13:19] #256 closed

[2017-07-10 13:20] Kagamine commented on #248
MySQL does not support sequence.

[2017-07-10 13:20] #248 closed

[2017-07-10 13:21] Kagamine commented on #225
Close this since it was related to #84

[2017-07-10 13:21] #225 closed

[2017-07-10 13:22] #214 closed

[2017-07-10 13:22] #227 closed

[2017-07-10 13:23] #218 closed

[2017-07-10 13:30] #178 closed

[2017-07-10 13:30] #203 closed

[2017-07-10 13:31] #229 closed

[2017-07-10 13:41] Kagamine commented on #243
I've tested the char with utf8 -- UTF-8 Unicode it works fine.

[2017-07-10 13:42] #243 closed

[2017-07-10 13:52] #182 closed

[2017-07-10 13:53] #230 closed

[2017-07-10 14:37] caleblloyd opened #318 "2.0.0 Include Queries Subject to Race Conditions"
EF Upstream 2.0.0 has updated the way that queries are generated.  Our code to wrap `Include` queries in repeatable read transactions no longer works.

The issue has been raised upstream at https://github.com/aspnet/EntityFramework/issues/9014

Include queries will be subject to race conditions in 2.0.0 until this gets fixed upstream.  If users of our library want to avoid these race conditions in

[2017-07-10 23:23] caleblloyd commented on #316
How about Monday July 17

[2017-07-12 14:59] nover opened #320 "Issue with migrations on MariaDB 10.2"
### Steps to reproduce
On an existing EF model with a foreign key to one table, change that foreign key to another table - this caused EF to create a "RENAME INDEX" in my case as the column name changes.

### The issue
When renaming indexes MySQL 5.7 introduced a new nice keyword `RENAME INDEX TO` - however, Mariadb 10.2 does _not_ support this, so the generated migration fail.

I was hoping that

[2017-07-12 16:38] Kagamine commented on #320
Yes, this was by design. rename operations only works with 5.7+. We do not want to drop and re-create.

[2017-07-12 17:37] nover commented on #320
Okay, so the driver basically supports MYSQL 5.7, with no intention to support older versions of MYSQL nor mariadb?

[2017-07-12 17:52] caleblloyd commented on #320
No

---

The migration operation is [here in MySqlMigrationsSqlGenerator.cs](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/e53d8fe26c0e0bfbb184b595dcb2625e6a7d17e5/src/EFCore.MySql/Migrations/MySqlMigrationsSqlGenerator.cs#L154-L171)

A server version flag needs to be added [here in ServerVersion.cs](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/b

[2017-07-12 17:58] nover commented on #320
@caleblloyd thanks for clarifying, I'll try to look into it tomorrow if I get the time.
I also created an issue with MariaDB to see if we can get `RENAME INDEX` support added there.
https://jira.mariadb.org/browse/MDEV-13301

[2017-07-13 07:41] nover commented on #320
@caleblloyd I see that you tagged it up for the 2.0 release - would it be possible to backport it to the 1.1 series? Because we kind of need the feature for a project running on 1.1 that can't be upgraded to the preview.

[2017-07-13 07:56] Kagamine commented on #320
@nover Sorry, we don't have an LTS plan for 1.1, maintaining different versions is a huge program, and we only have 2 people maintaining this project.

[2017-07-13 08:01] nover commented on #320
@Kagamine Fair enough - what if I make two PRs? One based off master for 2.0 and one based off the 1.1.2-rtm branch?

[2017-07-13 08:19] Kagamine commented on #320
should push to 1.1.3 branch

[2017-07-13 09:15] caleblloyd commented on #320
Sure we'll accept a PR and push a 1.1.3 prerelease for you!

[2017-07-13 10:40] nover commented on #320
Okay PR ready for version 2.0:
https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/pull/321

[2017-07-13 12:36] nover commented on #320
Backport of changes for 1.1:
https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/pull/322

[2017-07-13 17:45] softlion commented on #79
I just stumbled upon this problem. Offset information of DateTimeOffset is important when you want to know the time of day in the timezone from where the data originates. For example an event starting at 6pm in many countries from different timezones.

So it should be easy to find with a simple query all dates having the time component at "6pm" WITHOUT flattening to UTC+0. If you flatten the date

[2017-07-13 19:51] caleblloyd commented on #79
@softlion since this is a MySQL limitation, we made the decision to flatten to UTC instead of throw an Exception so that we degrade gracefully.

Users who want the full functionality of `DateTimeOffset` are better off serializing it before save and deserializing it on load, or as you mentioned splitting it out into a `DateTime` and `Offset` field and reassembling the `DateTimeOffset` in C#

[2017-07-13 20:53] lundcm commented on #230
Is there a way to define your own custom mapper? I don't have the option of changing the datatype in the database.

[2017-07-13 21:31] softlion commented on #79
They are so retarded in mysql world ... At least 6 years behind.

[2017-07-14 10:50] Giantaxe opened #324 "Data attribute foreign key mapping"
### Steps to reproduce
1. Create a test application with the model below
    1 targeting NetCoreApp 1.1
    1 targeting NetCoreApp 2.0
2. Run "dotnet restore"
3. Run "dotnet build"
4. Run "dotnet ef migrations add initial"

### Model used
[code]

### The issue
Using data attributes to add a foreign key fails in EFCore 2.0 when the classname is not equal to a property name.

For instance:
Mapping a

[2017-07-14 11:19] bandito22 opened #325 "Invalid SQL generated for default values"
### Steps to reproduce

1. Create a database with a table that have a combination of default values eg.:

[code]

2. Use scaffolding to create your entities from this DB.
Will give something like this:

[code]

3. Run 'add-migration' command.
4. Run 'script-migration' command. Will give you something like this:

[code]
### The issue
The generated script is missing quotes from around the default va

[2017-07-14 11:31] LordMike commented on #272
Would it be possible to provide any missing details at the migration time?

Also. Isn't it first when you actually apply the migration that the server version is relevant? ..A migration should in principle be applicable to any database version (and make), as it's merely a description of changes to the model.. Right?

[2017-07-14 11:58] caleblloyd commented on #272
It may be possible but we don't have a lot of time to look into it. I'll reopen the issue as up for grabs. @LordMike could you look into it and open a PR?

[2017-07-14 12:04] caleblloyd commented on #325
It's because scaffolding is putting the default values in `HasDefaultValueSql`. It should be `HasDefaultValue`.

Scaffolding does not get everything right, scaffolded code should always be reviewed and corrected where necessary.

[2017-07-14 13:42] caleblloyd commented on #324
@Giantaxe thanks for the bug report.  We inherit most of this logic from Entity Framework.  Could you please open this same bug report at https://github.com/aspnet/EntityFramework/issues and link back to this issue for tracking purposes?

[2017-07-14 13:50] caleblloyd commented on #272
As @Kagamine mentions, [here is the code](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/master/src/EFCore.MySql/Storage/Internal/MySqlSmartTypeMapper.cs#L63-L72) that must connect to the Database to determine support for `datetime(6)`

It may be possible to adjust the type mapper so that this is not triggered during `ef migration add` and only during `ef database update

[2017-07-14 13:55] Giantaxe commented on #324
re-created the issue upstream at [https://github.com/aspnet/EntityFramework/issues/9180](url)

[2017-07-14 14:14] LordMike commented on #272
So either not run the entire type mapping at migration-add time, or inject a fake connection object that exposes some form of defaults?

Having not checked any other code, the latter seems more feasible.

[2017-07-14 14:27] bandito22 commented on #325
Thanks.

Converting the scaffold code to .HasDefaultValue resolved the majority of issues.

However, in order to set a default `DateTime` value to zero I need to use `HasDefaultValueSql`. Adding in the additional quotes here seems to fix that issue: `.HasDefaultValueSql("'0000-00-00 00:00:00'");`

Following these changes, `Datebase.Migrate & EnsureCreated` commands work fine.

Appreciate the help.

[2017-07-14 14:54] lundcm opened #326 "Add timestamp(6) as a supported data type"
### Steps to reproduce
Scaffold a database with `timestamp(6)` datatypes similarly to:
`dotnet ef dbcontext scaffold 'server=server_name;userid=username;password=pw;database=db;' Pomelo.EntityFrameworkCore.MySql -o Models --data-annotations`

All columns that have timestamp(6) columns are ignored:
`Could not find type mapping for column 'table.column' with data type 'timestamp(6)'. Skipping column

[2017-07-14 15:49] caleblloyd commented on #326
Please post the model that was scaffolded

[2017-07-14 15:59] lundcm commented on #326
Here is the DDL
[code]

[2017-07-15 01:55] KuroThing opened #327 "Invalid Default Value for Booleans"
When trying to run a migration with a default value and a type of boolean, the generated SQL is
[code]
Which is incorrect, manually running the SQL without the quotes around `False` successfully executes.

The same migration when downgraded to Pomelo.EntityFrameworkCore.MySql 1.1.2 runs perfectly fine.

The generated SQL for 1.1.2 is
[code]

### Further technical details

MySQL version: 5.7.13
Ope

[2017-07-16 15:58] kayjoekahmann commented on #230
I got this error to for timestamp and for enums in database. Is there a way to fix that problem?

[2017-07-17 09:12] #325 closed

[2017-07-17 17:11] endhz101 commented on #271
Is Microsoft.EntityFrameworkCore.Relational 1.1.2 still support for using stored procedure?

[2017-07-17 17:33] mguinness commented on #271
That's more a question for the [EF repo](https://github.com/aspnet/EntityFramework), but have you tried?

[2017-07-17 22:10] caleblloyd commented on #271
We would need more information, such as repo and a script to recreate this.

[2017-07-18 08:03] NicatorBa opened #328 "Unable to use uint as primary key"
### Steps to reproduce
Create an entity model with auto increment Id of type uint.
[code]

Create new objects and add them into DB context.
[code]

### The issue
Get an InvalidCastException exception on SaveChanges(), also get an exception for duplicated key after i've added
[code]
in T GetFieldValue<T>(int ordinal) in WrappedMySqlDataReader.cs from Pomelo.EntityFrameworkCore.MySql.

[code]

### F

[2017-07-18 09:22] Giantaxe opened #329 "Incorrect string convert"
### Model
[code]

### The issue
The .ToString() function breaks the mysql CONVERT function

### Example
[code]
Generates the following query
[code]

Expected query
[code]

1. VARCHAR(11) is a invalid conversion type, should be CHAR(11)
2. the fields should be the other way around :
[code]

### Stacktrace
[code]

### Further technical details

MySQL version: 5.7.17
Operating system: Server 2012
Pom

[2017-07-18 09:30] caleblloyd commented on #328
Your DB schema probably has the `ID` field defined as `bigint unsigned`. Change it to `int unsigned` in MySQL and it should work.

[2017-07-18 10:33] sm-g commented on #174
I have similar issue, but stacktrace differs:
[code]

WCF service on .net 4.6.1, latest VS 2017

[2017-07-18 11:19] NicatorBa commented on #328
I've created the DB schema with Pomelo.EntityFrameworkCore.MySql.Design 1.1.2. If i generate sql script from the migration:
[code]

It seems correct for me, so it should not be a problem with the DB schema.

[2017-07-18 11:40] Kagamine commented on #174
@sm-g Could you please provide us a repro project, and more information about this issue?

[2017-07-18 11:42] Kagamine commented on #329
@mguinness Could you please take a look at the ToString expression visitor?

[2017-07-18 13:30] sm-g commented on #174
I was trying to reproduce, creating step by step copy of my working solution. Finally I notice, that in fresh solution there is in web.config:

[code]
which solves the issue.

[2017-07-18 23:35] #324 closed

[2017-07-22 05:07] erwinwildenburg opened #330 "Creating migration without connection to database doesn't work"
### Steps to reproduce
For SqlServer I use the following code:
[code]

For MySQL I use the following:
[code]

### The issue
The SqlServer version allows me to create a migration without connection to the database.
Running dotnet ef migrations add InitialCreate will give an empty connectionString and allows to create a migration.

When running the same command with the Pomelo MySQL provider I get a

[2017-07-22 05:31] caleblloyd commented on #330
Duplicate of #272

[2017-07-22 05:31] #330 closed

[2017-07-23 11:09] Kagamine opened #331 "Add support for .HaxIndex().IsFullText()"
@caleblloyd What's your thought?

[2017-07-23 13:21] caleblloyd commented on #331
It would be a good addition. We could take this as a contribution

[2017-07-24 11:28] deinok commented on #88
Im having the same error

[2017-07-24 11:38] deinok commented on #88
Seems like it can insert inner models inside other models in the database.

[2017-07-24 11:58] deinok commented on #162
@Kagamine I'm having the same problem with the latest MySQL version (5.7.18)

[2017-07-24 12:52] Kagamine commented on #162
@deinok We have already fixed this issue, if you still occur this, please open a new issue and provide us more information about your issue.

[2017-07-24 16:25] deinok opened #332 "SQL Syntax Error"
# Environment:
MySQL version: 5.7.18
Operating system: Win7x64;Win10x64;debian8x64
Pomelo.EntityFrameworkCore.MySql version: 1.1.2
NetStandard 1.4

# DbContext::OnModelCreating:
[code]

# DateValueModel:
[code]

# SensorEntity:
[code]

# Test that pass OK:
[code]

# Test that NOT pass OK:
[code]

[2017-07-24 16:43] mguinness commented on #88
@deinok It would be helpful if you can provide the full SQL that is being run against MySQL by using either [logging framework](https://docs.microsoft.com/en-us/ef/core/miscellaneous/logging) or [query log](https://dev.mysql.com/doc/refman/5.7/en/query-log.html).

[2017-07-24 19:39] deinok commented on #88
ref #332

[2017-07-24 19:39] deinok commented on #162
ref #332

[2017-07-24 21:22] mguinness commented on #88
@deinok There is no SQL there, only the error received back from MySQL.  Need the full statement starting with INSERT INTO.

[2017-07-26 15:48] crowly0 commented on #328
I also have this problem when the PK is ushort or byte.
DB schema is ok, byte = tinyint(3) unsigned and ushort = smallint(5) unsigned.
Possible an issue when PK is not bigint (unsigned)?

[2017-07-26 16:13] caleblloyd commented on #328
@NicatorBa @crowly0 I cannot recreate

My best guess is that your Migrations are out of sync with your Database.

If you are using `uint` in your code, you should apply a migration that makes your PK use `int unsigned`.  If you have not done so, you will get `InvalidCastException`

I changed all of the keys in the [CRM Test Model](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySq

[2017-07-26 16:13] #328 closed

[2017-07-26 16:15] caleblloyd commented on #332
@deinok could you make a repository with the recreate that I can clone and run?

That's the only way I'd have time to debug this one.  Thanks

[2017-07-26 16:29] caleblloyd commented on #316
Just published it: [https://www.nuget.org/packages/Pomelo.EntityFrameworkCore.MySql/2.0.0-preview2-final](2.0.0-preview2-final)

We need community feedback, RTM is getting close.  Anyone successfully upgraded their project to `2.0.0-preview`?  Were there any problems upgrading?

[2017-07-26 16:41] deinok commented on #332
Yeah, sure, give me 1 or 2h to reproduce this bug. Also thanks

El 26 jul. 2017 18:15, "Caleb Lloyd" <notifications@github.com> escribió:

[2017-07-27 15:07] Kagamine opened #335 "Target to ef core ci dev release"
When I making PR #333, I find there were some changes in the newest code (efcore dev branch). We should target our project to the myget cidev feed to keep updated.

[2017-07-27 15:08] #331 closed

[2017-07-27 20:55] NicatorBa commented on #328
#336

[2017-07-28 00:27] Kagamine opened #337 "Fix ci test"
@caleblloyd After added fulltext and spatial index support, the ci builds failed, could you please help me fix them?

[code]

[2017-07-28 00:37] yukozh opened #338 "Scaffold fulltext index and spatial index"

[2017-07-28 09:30] deinok commented on #332
Problem solved.
Seems like if you add an entity like this:
[code]
And its an inner object inside another entity it fails.
Is this the correct behaviour?

[2017-07-28 11:39] caleblloyd commented on #332
That is possible, because EF would have nothing to relate the inner Object on.

Take a look at the Fluent API in the docs: https://docs.microsoft.com/en-us/ef/core/modeling/relationships

If your relationship cannot be fully expressed with `HasX`, `WithX`, `HasForeignKey`, and `HasPrincipalKey`, then EF cannot map it.  I'm specifically looking at this example in the docs:

[code]

[2017-07-28 12:09] #337 closed

[2017-07-28 19:28] deinok commented on #332
The strange thing is that this works on EntityFrameworkCore.SQLite, I didn't test it in MSSQL

[2017-07-28 20:26] caleblloyd commented on #332
It is possible that it is just a bug in our provider. But the good news is it's fixed in 2.0 :-)

[2017-07-29 02:57] mguerrieri opened #340 "NullReferenceException in MySqlBatchExecutor"
When building against the EF daily dev builds (2.1.0-preview1-26462, which I understand is not yet supported, but just to make you aware for the future),  if you commit multiple changes (thereby invoking MySqlBatchExecutor) EF Core will dispose the underlying connection (I believe during the disposing or RelationalDataReader) which causes a NullReferenceException during the subsequent transaction

[2017-07-29 03:18] Kagamine commented on #340
Force target to another ef core version will not work

[2017-07-29 03:18] #340 closed

[2017-07-29 03:18] Kagamine commented on #340
Please follow the upstream ef core version which referenced by pomelo.

[2017-07-29 05:29] mguerrieri commented on #340
I understand,  I just wanted to get this out there for future reference. If you can future-proof the library for the 2.0 release now, you can save headaches later when 2.1 is released.

[2017-07-29 11:12] #320 closed

[2017-07-29 12:50] caleblloyd commented on #340
Upstream introduces changes that break the provider all the time in new versions. It's just part of the upgrade process.

[2017-07-29 14:21] deinok commented on #332
@caleblloyd Nope, we need a production server, but i can take a look if this is fixed in 2.0.0-preview2

[2017-07-29 18:48] joeaudette opened #341 "error generating migration with 2.0.0-preview3"
I am trying to use asp.net core 2.0 preview2 and using Pomelo 2.0.0-preview3-10051

I am using fluent api and adding some indexes like this:

    entity.HasIndex(p => p.UserId);

Not using any full text indexes and none of the fields I'm indexing are larger than 255 chars

When I try to generate a migration I'm getting this error:

System.InvalidOperationException: The annotation 'MySql:FullTextIn

[2017-07-30 01:04] Kagamine commented on #341
Could you try to use 2.0.0-preview3-10052

[2017-07-30 13:22] joeaudette commented on #341
@Kagamine thanks for the speedy fix! Yes it works now and this issue can be closed.

Seems to require a valid connection to the database to be able to run migrations, but I think I saw that as a known/existing issue.

I also ran into a problem when executing migrations generated previously under 1.x so I may open a new issue on that, but works well with newly generated migrations now

[2017-07-30 13:22] #341 closed

[2017-07-30 15:58] joeaudette opened #342 "error generating a new migration with 2.0.0-preview3-10053"
I am upgrading an app from asp.net 1.x to 2.0 preview3 using pomelo 2.0.0-preview3-10053

Things worked fine until I added new model changes and tried to generate a new migration.
Previous migrations were generated using 1.x and I had to make a couple of small edits to the existing migrations to remove some bad default values but then it worked fine.

I added 4 new bool properties with a default o

[2017-07-30 16:19] caleblloyd commented on #342
Could you create a detailed reproduce with the following 4 files:

1. Original model
2. First migration
3. Changed model with new properties
4. Second migration

That way we can reproduce.

[2017-07-30 16:36] joeaudette commented on #342
It is kind of a large solution but it is open source so it would be great if you could look into it.

Steps to repro:
1 clone or fork cloudcsribe repository https://github.com/joeaudette/cloudscribe and change to netcore20 branch
2. dotnet restore --no-cache
3 dotnet build
4. in sourceDev.WebApp edit appsettings.json or override it with a gitignored file appsettings.dev.json, change this:

    "De

[2017-07-30 16:39] joeaudette commented on #342
note that the model changes already exist and are the ones I posted previously. All existing migration for mysql were generated before with 1.x

My other implementations for MSSQL and pgsql are currently working and was able to generate the migration for those. So the mysql one is just waiting to generate migration for model changes already in place

[2017-07-30 16:47] caleblloyd commented on #342
Thanks for the info, I should be able to check it out early next week.

[2017-07-30 16:49] joeaudette commented on #342
Great! Thank you!

[2017-07-30 23:08] #327 closed

[2017-07-31 11:51] joeaudette commented on #342
@caleblloyd noticed you are in Raleigh, just fyi I am [presenting on my cloudscribe projects at TRINUG Aug 9](https://www.meetup.com/TRINUG/events/241880485/)

[2017-07-31 13:06] yukozh opened #343 "Add support for MySQL generated column"

[2017-07-31 19:53] caleblloyd commented on #342
@joeaudette I followed all of your steps and got no errors:

[code]

I'm using the latest `mysql:5.7` Docker image.  What version are you using when you hit this?

[2017-07-31 20:23] joeaudette commented on #342
@caleblloyd now it works for me too, sorry to have used your time. Only thing I notice is I now have pomelo 2.0.0-preview3-10054 which is newer than when I reported the error. I'm using MySql5.7 on windows10

Thanks for your help! Feel free to close this issue.

[2017-07-31 20:28] #342 closed

[2017-07-31 21:40] caleblloyd commented on #342
Glad to hear. There was a fix for some type mappings in that release so maybe that's what did it.

[2017-07-31 23:05] Kagamine commented on #342
See PR #333

[2017-08-02 12:04] chikien276 commented on #317
Sir, any update about this. I upgraded my application to 2.0.0 RTM now and get ` Could not load type Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping from assembly 'Microsoft.EntityFrameworkCore.Relational, Version=2.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'` error

I'm not sure this is error from EntityFramework or not but it was working when my project had Microsoft.Asp

[2017-08-02 12:19] caleblloyd commented on #317
@chikien276 your question is unrelated to this issue so I will remove it from this issues soon.  But to answer your question your dependencies in your `csproj` should target `2.0.0-preview2-final` with the latest preview.  Here are our working dependencies: [EFCore.MySql.FunctionalTests.csproj](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/blob/master/test/EFCore.MySql.Funct

[2017-08-02 13:50] Kagamine commented on #317
So, you are not using 2.0.0-RTM, you are using the 2.0.0-preview1-final. Unfortunately, pomelo has lost the support for 2.0.0-preview1, you must bump up your project to 2.0.0-preview2 and use Pomelo.EntityFrameworkCore.MySql 2.0.0-preview2-final or 2.0.0-preview3-*.

[2017-08-02 14:02] chikien276 commented on #317
I am so sorry about that and thank you for your answers. I though this is a issue about support EfCore 2.0.0 RTM cause it have been released  and I got this error from using it against our 2.0.0-preview3-10054. Again, I'll remove my comments and sorry for this inconvenience.

[2017-08-03 13:13] fauriemma commented on #152
Hi,
I have same issue but after analyze mysql-slow-query i found a solution.

In my case problem is that i have two schema with different name but with same tables definition.

Pomelo scaffold execute a quary that retrieve table information as:

SELECT `CONSTRAINT_SCHEMA`,
        `CONSTRAINT_NAME`,
        `TABLE_NAME`,
        `COLUMN_NAME`,
        `REFERENCED_TABLE_NAME`,
        `REFERENCED_C

[2017-08-03 13:14] fauriemma commented on #310
Hi,
I have same issue but after analyze mysql-slow-query i found a solution.

In my case problem is that i have two schema with different name but with same tables definition.

Pomelo scaffold execute a quary that retrieve table information as:

SELECT CONSTRAINT_SCHEMA,
CONSTRAINT_NAME,
TABLE_NAME,
COLUMN_NAME,
REFERENCED_TABLE_NAME,
REFERENCED_COLUMN_NAME,
(SELECT DELETE_RULE FROM INFORMATION_SC

[2017-08-03 14:00] gingters commented on #310
I had not the time to double check and verify the problems / differences with MariaDb vs. MySQL and the full query logs on both for now. I will retest that over the next weekend and come back with detailed info.
Sorry.

[2017-08-05 06:18] rasert commented on #332
Hey... I am having the same issue. I just replaced the Database with a PostgreSQL database + data provider, and it worked just fine. Seems like it is a problem in your data provider.

I have a series of entities here with one-to-one and one-to-many relationships. But I think that the one that is failing is my parent entity that has only an Id and two navigation properties.

`public class Manad`
`{

[2017-08-05 08:51] Kagamine commented on #332
@rasert Please provide a full reproduce, which version of pomelo you were using.

[2017-08-05 10:39] nvivo opened #344 "Change recommendation from utf8 to utf8mb4"
`utf8` in mysql is quite problematic as it is a proprietary 3-byte format that has been incorrectly named and maintained for compatibility purposes, and doesn't support real utf-8 strings, specially 4-byte strings like emoji.

Change the recommendation in the front page to `utf8mb4` which is the actual UTF-8 the rest of the world uses. It will match .NET UTF-8 encoding and it's also the default en

[2017-08-05 13:11] caleblloyd commented on #344
Thanks for the report, this is a great idea!

Here is more information: https://stackoverflow.com/questions/30074492/what-is-the-difference-between-utf8mb4-and-utf8-charsets-in-mysql

Will this affect the maximum key length? I think UTF8 max key length is 767, is UTF8MB4 less?

[2017-08-05 13:16] Kagamine commented on #344
I agree this change

[2017-08-05 13:41] nvivo commented on #344
As far as I understand, since mysql handles utf8 in bytes, limits remain the same but depends on what you put in the field.

[2017-08-05 18:25] mguinness commented on #344
After reading https://mathiasbynens.be/notes/mysql-utf8mb4 I think key length is a factor, but that is somewhat mitigated by PR https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/pull/139 to address issue https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/issues/136.

[2017-08-05 19:23] rasert commented on #332
**Environment**

`MySQL version: 5.7.18`
`Operating System: macOS Sierra 10.12.5`
`Pomelo.EntityFrameworkCore.MySql version: 1.1.2`
`Pomelo.EntityFrameworkCore.MySql.Design version: 1.1.2`
`Microsoft.EntityFrameworkCore version: 1.1.2`
`NetStandard 1.3`

**DbContext::OnModelCreating**

Empty

**Manad entity**

`public class Manad`
`{`
`    public int Id { get; set; }`
`    public ManadBloco0 Bloco

[2017-08-05 19:57] deinok commented on #332
@rasert Can you show us the body of the DbContext::OnModelCreating ?

[2017-08-06 04:10] Kagamine commented on #326
I don't think mysql support the type `timestamp(6)`

[2017-08-06 17:47] rasert commented on #332
My OnModelCreating has no body. I didn't use any configuration there. I just created my entities using standard conventions.

[2017-08-07 01:37] lundcm commented on #326
Um, it is and we're using it. It's the most precise time-stamp I believe they offer which is why we're using it. The 6 signifies the number of ms to store.

https://dev.mysql.com/doc/refman/5.7/en/datetime.html

[2017-08-08 03:03] lundcm commented on #326
@Kagamine - Is this being covered by #345?

[2017-08-10 09:23] #326 closed

[2017-08-10 11:02] bandito22 opened #347 "Columns with default value of empty string do not scaffold correctly"
### Steps to reproduce
1. Create a table as follows:

[code]

Run Scaffolding:

`Scaffold-DbContext –Connection “server=127.0.0.1;userid=me;pwd=mypassword;database=mydb;” -Provider Pomelo.EntityFrameworkCore.MySql –Context MyDbContext –Tables “Batch”`

### The issue
Resulting configuration misses off HasDefaultValue("") from the entity. Therefore, any use of 'EnsureCreated' will result in no defau

[2017-08-11 09:24] chikien276 commented on #316
I upgraded my project to
```<PackageReference Include="Microsoft.AspNetCore.All" Version="2.0.0-preview2-final" />```
and
```<PackageReference Include="Pomelo.EntityFrameworkCore.MySql" Version="2.0.0-preview2-final" />```
After that I tried to add 1 more migration (add-migration blabla) the operation **not finishing** but still generating some strange script.
Say, I had a table called `Song` with

[2017-08-11 11:02] Kagamine commented on #316
@chikien276 First, this issue is about preview2 release plan. Any issues about using, please open a new one.
Then, the exception told you if you want to change the column, must drop the FK first. I assume this is a user error.

[2017-08-11 11:02] #316 closed

[2017-08-11 13:37] souchprod opened #348 "Invalid Date convertion"
### Steps to reproduce

- Create/use a table with a DATETIME field
- Generate in the .net core app a query with a filter on this date

MyDbContext.MyTable.Where(s => s.MyDateTimeField<= DateTime.Now.Date);

### The issue

The Sql query generated by EF fail with this message:

According to the verbose log, the query built was:

[code]

According to the doc (https://dev.mysql.com/doc/refman/5.7/en/c

[2017-08-11 20:33] mguinness commented on #316
.NET Standard 2.0 is now [finalized](https://github.com/dotnet/announcements/issues/24) and the announcement of .NET Core 2.0 will be on September 18-19.

[2017-08-12 09:03] Kagamine opened #350 "Upgrade to 2.0.0-rtm"

[2017-08-12 14:24] tokaika opened #351 "An exception occurred while reading a database value. The expected type was 'System.Byte[]' but the actual value was of type 'System.DateTime'."
Prevents concurrent fields from being automatically cannot  identified

[code]

when  a  insert data。。。
1.InvalidOperationException: An exception occurred while reading a database value. The expected type was 'System.Byte[]' but the actual value was of type 'System.DateTime'.

2.InvalidCastException: Unable to cast object of type 'System.DateTime' to type 'System.Byte[]'.

[code]

logger  ：sql
[co

[2017-08-12 18:02] caleblloyd commented on #350
I am working on this, should be done by the end of the day

[2017-08-12 22:47] souchprod commented on #329
Hi, i made a couple of small changes & a test case to fix this one

[2017-08-12 22:59] souchprod commented on #351
Hi, does it still fail if you add the [Timestamp] attribute to the rowversion property ?

[code]

[2017-08-13 03:12] caleblloyd commented on #350
EF 2.0.0-rtm won't work with .NET Core 2.0.0 Preview 2 SDK:

https://github.com/aspnet/EntityFramework/issues/9124

https://github.com/aspnet/EntityFramework/issues/9065

This probably means we need to wait for .NET Core 2.0 RTM, unless they plan on shipping a .NET Core 2.0 preview3.  Our tests won't work otherwise.  And migration and scaffolding won't work for our users.

I fixed all of the chang

[2017-08-13 03:13] Kagamine commented on #350
Create a dev branch forst, and I will get the sdk from .net team

[2017-08-13 03:18] caleblloyd commented on #350
I don't think it's worth the effort.  We can't publish a prerelease because our users aren't going to install nightly builds to test it.  It'd be too confusing for everyone.

The issue only affects EF tooling, so Migrations and Scaffolding.  I got the project to build with EF 2.0.0-rtm, it just won't run EF Migrations/Scaffolding without a nightly SDK right now.

[2017-08-14 10:25] tokaika commented on #351
@souchprod   i  donnot  know 。。i  donnot  give  a  try。。i just delete  this field（rowversion）

[2017-08-14 10:29] souchprod commented on #351
No, finally I tried and reproduced your issue, the attributes doesn't help. So far I was not able to locate the issue, seems to be a deep one..

_Sent from my OnePlus ONE A2003 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-14 23:58] #288 closed

[2017-08-15 00:11] caleblloyd opened #353 "Publish 2.0.0 Package"
- [x] Begin to publish `2.0.0-rtm-*` packages
- [x] Fix or punt issues in the [2.0.0 Milestone](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/milestone/6)
- [x] Publish a 2.0.0 Package after the final RC is stable for a few days(18th Sep.)

[2017-08-15 13:59] stephenhendry opened #354 "Could not load type 'Microsoft.EntityFrameworkCore.Storage.RelationalTypeMapping`1' from assembly 'Microsoft.EntityFrameworkCore.Relational, Version=2.0.0.0, Culture=neutral, PublicKeyToken=adb9793829ddae60'."
### Steps to reproduce
`dotnet ef dbcontext scaffold "Server=localhost;User Id=root;Password=123456;Database=eftests" "Pomelo.EntityFrameworkCore.MySql"`
### The issue
The following error is given on a new Core 2 application.

[code]

### Further technical details
This is a Core 2 application.

Pomelo.EntityFrameworkCore.MySql version: 2.0.0-preview3-10055

[2017-08-15 15:09] erikbozic commented on #354
This seems to be the same issue as: https://github.com/aspnet/EntityFramework/issues/9390 .
The problem is there have been some breaking changes in EF Core.
Good news is that a [PR](https://github.com/PomeloFoundation/Pomelo.EntityFrameworkCore.MySql/pull/352) is already open. I'm guessing it will be merged soon.

[2017-08-15 15:50] #354 closed

[2017-08-16 03:58] #317 closed

[2017-08-16 03:58] #350 closed

[2017-08-16 04:16] caleblloyd commented on #353
Published the first RTM targeting EF 2.0, [2.0.0-rtm-10056](https://www.nuget.org/packages/Pomelo.EntityFrameworkCore.MySql/2.0.0-rtm-10056)

[2017-08-16 04:21] caleblloyd opened #355 "Test Scaffolding in 2.0.0-rtm-*"
Scaffolding has undergone many changes in 2.0. We are seeking help testing scaffolding in 2.0.0-rtm-* for the next week or so while we harden the 2.0 release

[2017-08-16 07:58] zhaopeiym commented on #353
very good

[2017-08-16 08:01] lj666 commented on #353
very good

[2017-08-16 08:03] caianhua1986 commented on #353
Very Happy，You did a Great job.

[2017-08-16 08:03] shenniubuxing3 commented on #353
。。。good

[2017-08-16 08:27] ZeroX-V commented on #353
这么快就更新了，真的很感动。

[2017-08-16 14:38] falps opened #356 "An item with the same key has already been added. Key: p2068"
你好，使用Pomelo.EntityFrameworkCore.MySql（2.0.0-rtm-10056），在执行context.SaveChanges();时报错，错误内容：An item with the same key has already been added. Key: p2068，
StackTrace如下
   at System.ThrowHelper.ThrowAddingDuplicateWithKeyArgumentException(Object key)
   at System.Collections.Generic.Dictionary`2.TryInsert(TKey key, TValue value, InsertionBehavior behavior)
   at System.Collections.Generic.Dictionary`2.

[2017-08-16 14:57] Kagamine commented on #356
Please provide a repro for your issue, and use English to describe your issue.

[2017-08-16 19:26] youdang227 commented on #353
very good

[2017-08-17 00:39] tonu42 commented on #355
Getting an error when running the scaffolding added on the readme for 2.0.0 preview.

`The collection argument 'properties' must contain at least one element.`

Seems like someone on SO is also getting it.
[https://stackoverflow.com/questions/45714560/the-collection-argument-properties-must-contain-at-least-one-element-when-usi/45724933#45724933](https://stackoverflow.com/questions/45714560/the-co

[2017-08-17 04:18] Koronos commented on #355
In my project, the Scaffolding is failing in someone things and others work, for example:

Using migrations:

`dotnet ef migrations add any`

Generates correctly all migration files.

`dotnet ef database update`

Throws an exception in relation a table already created, but the database is empty.

I checked the Sql file generated with `dotnet ef migrations script -o file.sql` and it works directly

[2017-08-17 05:53] garvincasimir commented on #329
@souchprod  I just encountered this issue in my Mysql tests. Are you planning to merge your fix soon?

[2017-08-17 06:18] Kagamine commented on #329
Since #348 covered this issue, close this one.

[2017-08-17 06:18] #329 closed

[2017-08-17 07:01] mguinness commented on #355
The scaffolding error is getting raised in class [Check](https://github.com/aspnet/EntityFrameworkCore/blob/dev/src/Shared/Check.cs#L56) which is getting called from somewhere in class [EntityType](https://github.com/aspnet/EntityFrameworkCore/blob/dev/src/EFCore/Metadata/Internal/EntityType.cs).  If you comment out the call to GetConstraints() then it completes.